# Military Power Clustering Project
-World military power
Source : globalfirepower.com on 1st may 2020

- https://data.world/vizzup/world-military-power/workspace/file?filename=World+military+power.xlsx

# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import scipy.stats as stats
import pyforest
from sklearn.preprocessing import StandardScaler, PolynomialFeatures, OneHotEncoder, StandardScaler, PowerTransformer, MinMaxScaler, RobustScaler
from sklearn.model_selection import KFold, cross_val_predict, train_test_split, GridSearchCV, cross_val_score, cross_validate
from sklearn.linear_model import LinearRegression, Lasso, Ridge,ElasticNet
from sklearn.metrics import plot_confusion_matrix, r2_score, mean_absolute_error, mean_squared_error, classification_report, confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import make_scorer, precision_score, precision_recall_curve, plot_precision_recall_curve, plot_roc_curve, roc_auc_score, roc_curve, f1_score, accuracy_score, recall_score
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier, GradientBoostingRegressor, ExtraTreesRegressor, AdaBoostClassifier
from sklearn.feature_selection import SelectKBest, SelectPercentile, f_classif, f_regression, mutual_info_regression
from xgboost import XGBRegressor, XGBClassifier
from xgboost import plot_importance
from sklearn.pipeline import Pipeline
from sklearn.tree import plot_tree
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

#importing plotly and cufflinks in offline mode
import cufflinks as cf
import plotly.offline
cf.go_offline()
cf.set_config_file(offline=False, world_readable=True)

import warnings
warnings.filterwarnings('ignore')
warnings.warn("this will not show")
plt.rcParams["figure.figsize"] = (10,6)
pd.set_option('max_colwidth',200)

# pd.set_option('display.max_rows', 100) # if you wish to see more rows rather than default, just uncomment this line.
pd.set_option('display.max_columns', 200)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

import colorama
from colorama import Fore, Style  # maakes strings colored
# !pip3 install termcolor
from termcolor import colored

# User's Defined Function

In [2]:
# Function for determining the number and percentages of missing values

def missing (df):
    missing_number = df.isnull().sum().sort_values(ascending=False)
    missing_percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_values = pd.concat([missing_number, missing_percent], axis=1, keys=['Missing_Number', 'Missing_Percent'])
    return missing_values

In [3]:
# To view summary information about the column

def first_looking(col):
    print("column name    : ", col)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col].isnull().sum()/df.shape[0]*100, 2))
    print("num_of_nulls   : ", df[col].isnull().sum())
    print("num_of_uniques : ", df[col].nunique())
    print(df[col].value_counts(dropna = False))

In [4]:
def train_val(y_train, y_train_pred, y_test, y_pred):
    
    scores = {"train_set": {"R2" : r2_score(y_train, y_train_pred),
    "mae" : mean_absolute_error(y_train, y_train_pred),
    "mse" : mean_squared_error(y_train, y_train_pred),                          
    "rmse" : np.sqrt(mean_squared_error(y_train, y_train_pred))},
    
    "test_set": {"R2" : r2_score(y_test, y_pred),
    "mae" : mean_absolute_error(y_test, y_pred),
    "mse" : mean_squared_error(y_test, y_pred),
    "rmse" : np.sqrt(mean_squared_error(y_test, y_pred))}}
    
    return pd.DataFrame(scores)

In [5]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print("r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

# Ingest Data

In [6]:
df0 = pd.read_excel("World military power.xlsx", header=1)
df = df0.copy()

# EDA

In [7]:
df.head(3)

,Military Strength,Military Strength Power Index,Aircraft Strength,Aircraft Strength value,Fighter/Interceptor Strength,Fighter/Interceptor Strength value,Attack Aircraft Strength,Attack Aircraft Strength value,Transport Aircraft Fleet Strength,Transport Aircraft Fleet Strength value,Trainer Aircraft Fleet,Trainer Aircraft Fleet value,Helicopter Fleet Strength,Helicopter Fleet Strength value,Attack Helicopter Fleet Strength,Attack Helicopter Fleet Strength value,Tank Strength,Tank Strength value,AFV/APC Strength,AFV/APC Strength value,Self-Propelled Artillery Strength,Self-Propelled Artillery Strength value,Towed Artillery Strength,Towed Artillery Strength value,Rocket Projector Strength,Rocket Projector Strength value,Navy Fleet Strengths,Navy Fleet Strengths value,Aircraft Carrier Fleet Strength,Aircraft Carrier Fleet Strength value,Submarine Fleet Strength,Submarine Fleet Strength value,Destroyer Fleet Strength,Destroyer Fleet Strength value,Frigate Fleet Strength,Frigate Fleet Strength value,defense spending budget,defense spending budget value,External Debt,External Debt value,Airport Totals,Airport Totals value,Oil Production,Oil Production value,Oil Consumption,Oil Consumption value,Proven Oil Reserves,Proven Oil Reserves value,Available Manpower,Available Manpower value,Total Population,Total Population value,Total Square Land Area,Total Square Land Area value,Total Coastline Coverage,Total Coastline Coverage value,Total Waterway Coverage,Total Waterway Coverage value,Total Border Coverage,Total Border Coverage value
0,Afghanistan,1.344,Afghanistan,260,Afghanistan,0,Afghanistan,25,Afghanistan,30,Afghanistan,0,Afghanistan,187,Afghanistan,0,Afghanistan,0,Afghanistan,1062,Afghanistan,0,Afghanistan,176,Afghanistan,50,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,"12,00,00,00,000",Afghanistan,"2,84,00,00,000",Afghanistan,43,Afghanistan,0,Afghanistan,5500,Afghanistan,0,Afghanistan,"1,43,25,743",Afghanistan,"3,49,40,837",Afghanistan,"6,52,230",Afghanistan,0,Afghanistan,1200,Afghanistan,5987.000
1,Albania,2.314,Albania,19,Albania,0,Albania,0,Albania,0,Albania,0,Albania,19,Albania,0,Albania,0,Albania,467,Albania,0,Albania,0,Albania,0,Albania,38.000,Albania,0.000,Albania,0.000,Albania,0.000,Albania,0.000,Albania,"25,00,00,000",Albania,"9,50,50,00,000",Albania,4,Albania,16000,Albania,42500,Albania,"16,83,00,000",Albania,"15,19,438",Albania,"30,57,220",Albania,28748,Albania,362,Albania,41,Albania,691.000
2,Algeria,0.466,Algeria,551,Algeria,103,Algeria,22,Algeria,59,Algeria,87,Algeria,257,Algeria,45,Algeria,880,Algeria,7361,Algeria,320,Algeria,240,Algeria,316,Algeria,201.000,Algeria,0.000,Algeria,6.000,Algeria,0.000,Algeria,5.000,Algeria,"13,00,00,00,000",Algeria,"6,26,00,00,000",Algeria,157,Algeria,"13,06,000",Algeria,"3,25,000",Algeria,"12,20,00,00,000",Algeria,"2,07,41,263",Algeria,"4,16,57,488",Algeria,"23,81,741",Algeria,998,Algeria,0,Algeria,6734.000

In [8]:
df.tail(3)

,Military Strength,Military Strength Power Index,Aircraft Strength,Aircraft Strength value,Fighter/Interceptor Strength,Fighter/Interceptor Strength value,Attack Aircraft Strength,Attack Aircraft Strength value,Transport Aircraft Fleet Strength,Transport Aircraft Fleet Strength value,Trainer Aircraft Fleet,Trainer Aircraft Fleet value,Helicopter Fleet Strength,Helicopter Fleet Strength value,Attack Helicopter Fleet Strength,Attack Helicopter Fleet Strength value,Tank Strength,Tank Strength value,AFV/APC Strength,AFV/APC Strength value,Self-Propelled Artillery Strength,Self-Propelled Artillery Strength value,Towed Artillery Strength,Towed Artillery Strength value,Rocket Projector Strength,Rocket Projector Strength value,Navy Fleet Strengths,Navy Fleet Strengths value,Aircraft Carrier Fleet Strength,Aircraft Carrier Fleet Strength value,Submarine Fleet Strength,Submarine Fleet Strength value,Destroyer Fleet Strength,Destroyer Fleet Strength value,Frigate Fleet Strength,Frigate Fleet Strength value,defense spending budget,defense spending budget value,External Debt,External Debt value,Airport Totals,Airport Totals value,Oil Production,Oil Production value,Oil Consumption,Oil Consumption value,Proven Oil Reserves,Proven Oil Reserves value,Available Manpower,Available Manpower value,Total Population,Total Population value,Total Square Land Area,Total Square Land Area value,Total Coastline Coverage,Total Coastline Coverage value,Total Waterway Coverage,Total Waterway Coverage value,Total Border Coverage,Total Border Coverage value
135,Yemen,1.241,Yemen,169,Yemen,77,Yemen,0,Yemen,8,Yemen,21,Yemen,61,Yemen,14,Yemen,620,Yemen,615,Yemen,20,Yemen,85,Yemen,150,Yemen,30.000,Yemen,0.000,Yemen,0.000,Yemen,0.000,Yemen,0.000,Yemen,"1,40,00,00,000",Yemen,"7,06,80,00,000",Yemen,57,Yemen,12260,Yemen,"1,45,000",Yemen,"3,00,00,00,000",Yemen,"1,12,66,221",Yemen,"2,86,67,230",Yemen,"5,27,968",Yemen,1906,Yemen,0,Yemen,1601.000
136,Zambia,1.646,Zambia,108,Zambia,18,Zambia,0,Zambia,11,Zambia,52,Zambia,27,Zambia,0,Zambia,75,Zambia,184,Zambia,0,Zambia,42,Zambia,50,Zambia,0.000,Zambia,0.000,Zambia,0.000,Zambia,0.000,Zambia,0.000,Zambia,"4,00,00,000",Zambia,"11,66,00,00,000",Zambia,88,Zambia,0,Zambia,21000,Zambia,0,Zambia,"61,66,905",Zambia,"1,64,45,079",Zambia,"7,52,618",NaN,NaN,Zambia,2250,Zambia,6043.000
137,Zimbabwe,1.758,Zimbabwe,90,Zimbabwe,10,Zimbabwe,0,Zimbabwe,14,Zimbabwe,38,Zimbabwe,28,Zimbabwe,6,Zimbabwe,42,Zimbabwe,300,Zimbabwe,0,Zimbabwe,65,Zimbabwe,22,Zimbabwe,0.000,Zimbabwe,0.000,Zimbabwe,0.000,Zimbabwe,0.000,Zimbabwe,0.000,Zimbabwe,"10,00,00,000",Zimbabwe,"9,35,70,00,000",Zimbabwe,196,Zimbabwe,0,Zimbabwe,19500,Zimbabwe,0,Zimbabwe,"55,84,086",Zimbabwe,"1,40,30,368",Zimbabwe,"3,90,757",NaN,NaN,Zimbabwe,0,Zimbabwe,3229.000

In [9]:
df.sample(10)

,Military Strength,Military Strength Power Index,Aircraft Strength,Aircraft Strength value,Fighter/Interceptor Strength,Fighter/Interceptor Strength value,Attack Aircraft Strength,Attack Aircraft Strength value,Transport Aircraft Fleet Strength,Transport Aircraft Fleet Strength value,Trainer Aircraft Fleet,Trainer Aircraft Fleet value,Helicopter Fleet Strength,Helicopter Fleet Strength value,Attack Helicopter Fleet Strength,Attack Helicopter Fleet Strength value,Tank Strength,Tank Strength value,AFV/APC Strength,AFV/APC Strength value,Self-Propelled Artillery Strength,Self-Propelled Artillery Strength value,Towed Artillery Strength,Towed Artillery Strength value,Rocket Projector Strength,Rocket Projector Strength value,Navy Fleet Strengths,Navy Fleet Strengths value,Aircraft Carrier Fleet Strength,Aircraft Carrier Fleet Strength value,Submarine Fleet Strength,Submarine Fleet Strength value,Destroyer Fleet Strength,Destroyer Fleet Strength value,Frigate Fleet Strength,Frigate Fleet Strength value,defense spending budget,defense spending budget value,External Debt,External Debt value,Airport Totals,Airport Totals value,Oil Production,Oil Production value,Oil Consumption,Oil Consumption value,Proven Oil Reserves,Proven Oil Reserves value,Available Manpower,Available Manpower value,Total Population,Total Population value,Total Square Land Area,Total Square Land Area value,Total Coastline Coverage,Total Coastline Coverage value,Total Waterway Coverage,Total Waterway Coverage value,Total Border Coverage,Total Border Coverage value
112,Spain,0.339,Spain,512,Spain,137,Spain,12,Spain,46,Spain,162,Spain,162,Spain,19,Spain,327,Spain,2023,Spain,95,Spain,140,Spain,0,Spain,77.000,Spain,1.000,Spain,3.000,Spain,0.000,Spain,11.000,Spain,"15,10,00,00,000",Spain,"20,94,00,00,00,000",Spain,150,Spain,2252,Spain,"12,26,000",Spain,"15,00,00,000",Spain,"2,31,36,275",Spain,"4,93,31,076",Spain,"5,05,370",Spain,4964,Spain,1000,Spain,1953.000
71,Mali,1.894,Mali,29,Mali,9,Mali,0,Mali,6,Mali,5,Mali,8,Mali,6,Mali,80,Mali,248,Mali,0,Mali,50,Mali,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mali,"7,00,00,000",Mali,"4,19,20,00,000",Mali,25,Mali,0,Mali,5500,Mali,0,Mali,"59,91,557",Mali,"1,84,29,893",Mali,"12,40,192",NaN,NaN,Mali,0,Mali,7908.000
58,Jordan,1.144,Jordan,278,Jordan,44,Jordan,4,Jordan,16,Jordan,75,Jordan,146,Jordan,47,Jordan,1313,Jordan,2897,Jordan,461,Jordan,72,Jordan,88,Jordan,37.000,Jordan,0.000,Jordan,0.000,Jordan,0.000,Jordan,0.000,Jordan,"2,60,00,00,000",Jordan,"29,34,00,00,000",Jordan,18,Jordan,22,Jordan,"1,10,000",Jordan,"10,00,000",Jordan,"33,46,692",Jordan,"1,04,58,413",Jordan,89342,Jordan,26,Jordan,540,Jordan,1744.000
10,Bangladesh,0.707,Bangladesh,177,Bangladesh,44,Bangladesh,0,Bangladesh,11,Bangladesh,57,Bangladesh,67,Bangladesh,0,Bangladesh,276,Bangladesh,1230,Bangladesh,18,Bangladesh,419,Bangladesh,72,Bangladesh,112.000,Bangladesh,0.000,Bangladesh,2.000,Bangladesh,0.000,Bangladesh,8.000,Bangladesh,"3,80,00,00,000",Bangladesh,"50,26,00,00,000",Bangladesh,18,Bangladesh,3666,Bangladesh,"1,12,000",Bangladesh,"2,80,00,000",Bangladesh,"7,89,13,289",Bangladesh,"15,94,53,001",Bangladesh,"1,43,998",Bangladesh,580,Bangladesh,8370,Bangladesh,4413.000
33,Dominican Republic,2.750,Dominican Republic,49,Dominican Republic,0,Dominican Republic,8,Dominican Republic,10,Dominican Republic,4,Dominican Republic,28,Dominican Republic,0,Dominican Republic,6,Dominican Republic,20,Dominican Republic,0,Dominican Republic,20,Dominican Republic,0,Dominican Republic,33.000,Dominican Republic,0.000,Dominican Republic,0.000,Dominican Republic,0.000,Dominican Republic,0.000,Dominican Republic,"76,00,00,000",Dominican Republic,"29,16,00,00,000",Dominican Republic,36,Dominican Republic,0,Dominican Republic,"1,25,000",Dominican Republic,0,Dominican Republic,"48,19,818",Dominican Republic,"1,02,98,756",Dominican Republic,48320,Dominican Republic,1288,Dominican Republic,350,Dominican Republic,376.000
8,Azerbaijan,0.946,Azerbaijan,147,Azerbaijan,17,Azerbaijan,12,Azerbaijan,1,Azerbaijan,29,Azerbaijan,88,Azerbaijan,17,Azerbaijan,570,Azerbaijan,1451,Azerbaijan,187,Azerbaijan,227,Azerbaijan,162,Azerbaijan,31.000,Azerbaijan,0.000,Azerbaijan,4.000,Azerbaijan,0.000,Azerbaijan,1.000,Azerbaijan,"2,80,50,00,000",Azerbaijan,"17,41,00,00,000",Azerbaijan,37,Azerbaijan,"7,89,300",Azerbaijan,"1,80,000",Azerbaijan,"7,00,00,00,000",Azerbaijan,"50,42,346",Azerbaijan,"1,00,46,516",Azerbaijan,86600,Azerbaijan,713,Azerbaijan,0,Azerbaijan,2468.000
43,Germany,0.219,Germany,712,Germany,128,Germany,74,Germany,71,Germany,26,Germany,386,Germany,56,Germany,245,Germany,4583,Germany,108,Germany,0,Germany,38,Germany,80.000,Germany,0.000,Germany,6.000,Germany,0.000,Germany,9.000,Germany,"50,00,00,00,000",Germany,"53,26,00,00,00,000",Germany,539,Germany,43410,Germany,"25,00,000",Germany,"14,54,00,000",Germany,"3,70,10,559",Germany,"8,04,57,737",Germany,"3,57,022",Germany,2389,Germany,7467,Germany,3694.000
89,Norway,0.528,Norway,150,Norway,59,Norway,15,Norway,4,Norway,32,Norway,47,Norway,0,Norway,52,Norway,730,Norway,80,Norway,0,Norway,12,Norway,62.000,Norway,0.000,Norway,6.000,Norway,0.000,Norway,4.000,Norway,"7,17,90,00,000",Norway,"6,42,30,00,00,000",Norway,95,Norway,"16,18,000",Norway,"2,60,000",Norway,"6,61,10,00,000",Norway,"21,70,365",Norway,"53,72,191",Norway,"3,23,802",Norway,25148,Norway,1577,Norway,2566.000
53,Ireland,1.948,Ireland,19,Ireland,0,Ireland,0,Ireland,0,Ireland,8,Ireland,8,Ireland,0,Ireland,0,Ireland,124,Ireland,0,Ireland,0,Ireland,0,Ireland,8.000,Ireland,0.000,Ireland,0.000,Ireland,0.000,Ireland,0.000,Ireland,"87,00,00,000",Ireland,"24,70,00,00,00,000",Ireland,40,Ireland,0,Ireland,"1,45,000",Ireland,0,Ireland,"23,66,779",Ireland,"50,68,050",Ireland,70273,Ireland,1448,Ireland,956,Ireland,443.000
66,Liberia,5.574,Liberia,0,Liberia,0,Liberia,0,Liberia,0,Liberia,0,Liberia,0,Liberia,0,Liberia,0,Liberia,0,Liberia,0,Liberia,0,Liberia,0,Liberia,0.000,Liberia,0.000,Liberia,0.000,Liberia,0.000,Liberia,0.000,Liberia,"1,30,00,000",Liberia,"1,03,60,00,000",Liberia,29,Liberia,0,Liberia,4500,Liberia,0,Liberia,"22,26,923",Liberia,"48,09,768",Liberia,"1,11,369",Liberia,579,Liberia,0,Liberia,1667.000

In [10]:
df.columns

Index(['Military Strength', 'Military Strength Power Index',
       'Aircraft Strength', 'Aircraft Strength value',
       'Fighter/Interceptor Strength', 'Fighter/Interceptor Strength value',
       'Attack Aircraft Strength', 'Attack Aircraft Strength value',
       'Transport Aircraft Fleet Strength',
       'Transport Aircraft Fleet Strength value', 'Trainer Aircraft Fleet',
       'Trainer Aircraft Fleet value', 'Helicopter Fleet Strength',
       'Helicopter Fleet Strength value', 'Attack Helicopter Fleet Strength',
       'Attack Helicopter Fleet Strength value', 'Tank Strength',
       'Tank Strength value', 'AFV/APC Strength', 'AFV/APC Strength value',
       'Self-Propelled Artillery Strength',
       'Self-Propelled Artillery Strength value', 'Towed Artillery Strength',
       'Towed Artillery Strength value', 'Rocket Projector Strength',
       'Rocket Projector Strength value', 'Navy Fleet Strengths',
       'Navy Fleet Strengths value', 'Aircraft Carrier Fleet Strength',
       'Aircraft Carrier Fleet Strength value', 'Submarine Fleet Strength',
       'Submarine Fleet Strength value', 'Destroyer Fleet Strength',
       'Destroyer Fleet Strength value', 'Frigate Fleet Strength',
       'Frigate Fleet Strength value', 'defense spending budget',
       'defense spending budget value', 'External Debt', 'External Debt value',
       'Airport Totals', 'Airport Totals value', 'Oil Production',
       'Oil Production value', 'Oil Consumption', 'Oil Consumption value',
       'Proven Oil Reserves', 'Proven Oil Reserves value',
       'Available Manpower', 'Available Manpower value', 'Total Population',
       'Total Population value', 'Total Square Land Area',
       'Total Square Land Area value', 'Total Coastline Coverage',
       'Total Coastline Coverage value', 'Total Waterway Coverage',
       'Total Waterway Coverage value', 'Total Border Coverage',
       'Total Border Coverage value'],
      dtype='object')

In [11]:
df.columns = df.columns.str.lower().str.replace('&', '_').str.replace(' ', '_')

In [12]:
df.columns

Index(['military_strength', 'military_strength_power_index',
       'aircraft_strength', 'aircraft_strength_value',
       'fighter/interceptor_strength', 'fighter/interceptor_strength_value',
       'attack_aircraft_strength', 'attack_aircraft_strength_value',
       'transport_aircraft_fleet_strength',
       'transport_aircraft_fleet_strength_value', 'trainer_aircraft_fleet',
       'trainer_aircraft_fleet_value', 'helicopter_fleet_strength',
       'helicopter_fleet_strength_value', 'attack_helicopter_fleet_strength',
       'attack_helicopter_fleet_strength_value', 'tank_strength',
       'tank_strength_value', 'afv/apc_strength', 'afv/apc_strength_value',
       'self-propelled_artillery_strength',
       'self-propelled_artillery_strength_value', 'towed_artillery_strength',
       'towed_artillery_strength_value', 'rocket_projector_strength',
       'rocket_projector_strength_value', 'navy_fleet_strengths',
       'navy_fleet_strengths_value', 'aircraft_carrier_fleet_strength',
       'aircraft_carrier_fleet_strength_value', 'submarine_fleet_strength',
       'submarine_fleet_strength_value', 'destroyer_fleet_strength',
       'destroyer_fleet_strength_value', 'frigate_fleet_strength',
       'frigate_fleet_strength_value', 'defense_spending_budget',
       'defense_spending_budget_value', 'external_debt', 'external_debt_value',
       'airport_totals', 'airport_totals_value', 'oil_production',
       'oil_production_value', 'oil_consumption', 'oil_consumption_value',
       'proven_oil_reserves', 'proven_oil_reserves_value',
       'available_manpower', 'available_manpower_value', 'total_population',
       'total_population_value', 'total_square_land_area',
       'total_square_land_area_value', 'total_coastline_coverage',
       'total_coastline_coverage_value', 'total_waterway_coverage',
       'total_waterway_coverage_value', 'total_border_coverage',
       'total_border_coverage_value'],
      dtype='object')

In [13]:
df.shape

(138, 60)

In [14]:
print("There is", df.shape[0], "observation and", df.shape[1], "columns in the dataset")

There is 138 observation and 60 columns in the dataset

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 60 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   military_strength                        138 non-null    object
 1   military_strength_power_index            138 non-null    float64
 2   aircraft_strength                        138 non-null    object
 3   aircraft_strength_value                  138 non-null    int64
 4   fighter/interceptor_strength             138 non-null    object
 5   fighter/interceptor_strength_value       138 non-null    int64
 6   attack_aircraft_strength                 138 non-null    object
 7   attack_aircraft_strength_value           138 non-null    int64
 8   transport_aircraft_fleet_strength        138 non-null    object
 9   transport_aircraft_fleet_strength_value  138 non-null    int64
 10  trainer_aircraft_fleet                   138 non-null    object
 11  trainer_aircraft_fleet_value             138 non-null    int64
 12  helicopter_fleet_strength                138 non-null    object
 13  helicopter_fleet_strength_value          138 non-null    int64
 14  attack_helicopter_fleet_strength         138 non-null    object
 15  attack_helicopter_fleet_strength_value   138 non-null    int64
 16  tank_strength                            138 non-null    object
 17  tank_strength_value                      138 non-null    int64
 18  afv/apc_strength                         138 non-null    object
 19  afv/apc_strength_value                   138 non-null    int64
 20  self-propelled_artillery_strength        138 non-null    object
 21  self-propelled_artillery_strength_value  138 non-null    int64
 22  towed_artillery_strength                 138 non-null    object
 23  towed_artillery_strength_value           138 non-null    int64
 24  rocket_projector_strength                138 non-null    object
 25  rocket_projector_strength_value          138 non-null    int64
 26  navy_fleet_strengths                     124 non-null    object
 27  navy_fleet_strengths_value               124 non-null    float64
 28  aircraft_carrier_fleet_strength          115 non-null    object
 29  aircraft_carrier_fleet_strength_value    115 non-null    float64
 30  submarine_fleet_strength                 115 non-null    object
 31  submarine_fleet_strength_value           115 non-null    float64
 32  destroyer_fleet_strength                 115 non-null    object
 33  destroyer_fleet_strength_value           115 non-null    float64
 34  frigate_fleet_strength                   115 non-null    object
 35  frigate_fleet_strength_value             115 non-null    float64
 36  defense_spending_budget                  138 non-null    object
 37  defense_spending_budget_value            138 non-null    object
 38  external_debt                            138 non-null    object
 39  external_debt_value                      138 non-null    object
 40  airport_totals                           138 non-null    object
 41  airport_totals_value                     138 non-null    int64
 42  oil_production                           138 non-null    object
 43  oil_production_value                     138 non-null    object
 44  oil_consumption                          138 non-null    object
 45  oil_consumption_value                    138 non-null    object
 46  proven_oil_reserves                      138 non-null    object
 47  proven_oil_reserves_value                138 non-null    object
 48  available_manpower                       138 non-null    object
 49  available_manpower_value                 138 non-null    object
 50  total_population                         138 non-null    object
 51  total_population_value                   138 non-null    object
 52  total_square_land_area                   138 non-null    object
 53  total_square_land_area_value             138 non-null    object
 54  total_coastline_coverage                 109 non-null    object
 55  total_coastline_coverage_value           109 non-null    object
 56  total_waterway_coverage                  138 non-null    object
 57  total_waterway_coverage_value            138 non-null    object
 58  total_border_coverage                    129 non-null    object
 59  total_border_coverage_value              129 non-null    float64
dtypes: float64(7), int64(13), object(40)
memory usage: 64.8+ KB

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
military_strength_power_index,138.000,1.461,1.324,0.061,0.575,1.034,2.022,10.168
aircraft_strength_value,138.000,388.471,1231.982,0.000,33.000,111.000,290.250,13264.000
fighter/interceptor_strength_value,138.000,81.565,230.325,0.000,0.000,17.000,60.500,2085.000
attack_aircraft_strength_value,138.000,25.761,94.528,0.000,0.000,0.000,15.750,742.000
transport_aircraft_fleet_strength_value,138.000,30.232,92.330,0.000,3.000,9.000,26.000,945.000
trainer_aircraft_fleet_value,138.000,82.833,240.804,0.000,4.250,26.000,79.250,2643.000
helicopter_fleet_strength_value,138.000,154.065,520.184,0.000,15.250,44.000,126.750,5768.000
attack_helicopter_fleet_strength_value,138.000,25.623,97.326,0.000,0.000,2.000,17.750,967.000
tank_strength_value,138.000,646.565,1515.464,0.000,19.250,153.000,436.250,12950.000
afv/apc_strength_value,138.000,2485.696,5410.546,0.000,250.250,734.500,2000.000,39253.000
self-propelled_artillery_strength_value,138.000,212.159,688.029,0.000,0.000,23.000,97.250,6083.000
towed_artillery_strength_value,138.000,393.978,805.782,0.000,24.250,108.000,296.500,4465.000
rocket_projector_strength_value,138.000,156.935,484.381,0.000,0.000,24.000,99.750,3860.000
navy_fleet_strengths_value,124.000,84.984,146.114,0.000,10.000,38.000,77.750,984.000
aircraft_carrier_fleet_strength_value,115.000,0.383,1.972,0.000,0.000,0.000,0.000,20.000
submarine_fleet_strength_value,115.000,4.800,13.707,0.000,0.000,0.000,4.000,83.000
destroyer_fleet_strength_value,115.000,2.052,10.001,0.000,0.000,0.000,0.000,91.000
frigate_fleet_strength_value,115.000,3.522,6.481,0.000,0.000,0.000,5.500,52.000
airport_totals_value,138.000,290.043,1212.967,2.000,33.500,68.000,150.750,13513.000
total_border_coverage_value,129.000,3964.225,3760.100,29.000,1587.000,2816.000,5267.000,22457.000

In [17]:
df.describe(include=object).T

                                  count unique              top freq
military_strength                   138    138      New Zealand    1
aircraft_strength                   138    138      New Zealand    1
fighter/interceptor_strength        138    138      New Zealand    1
attack_aircraft_strength            138    138      New Zealand    1
transport_aircraft_fleet_strength   138    138      New Zealand    1
trainer_aircraft_fleet              138    138      New Zealand    1
helicopter_fleet_strength           138    138      New Zealand    1
attack_helicopter_fleet_strength    138    138      New Zealand    1
tank_strength                       138    138      New Zealand    1
afv/apc_strength                    138    138      New Zealand    1
self-propelled_artillery_strength   138    138      New Zealand    1
towed_artillery_strength            138    138      New Zealand    1
rocket_projector_strength           138    138      New Zealand    1
navy_fleet_strengths                124    124      New Zealand    1
aircraft_carrier_fleet_strength     115    115      New Zealand    1
submarine_fleet_strength            115    115      New Zealand    1
destroyer_fleet_strength            115    115      New Zealand    1
frigate_fleet_strength              115    115      New Zealand    1
defense_spending_budget             138    138      New Zealand    1
defense_spending_budget_value       138    124   2,50,00,00,000    3
external_debt                       138    138      New Zealand    1
external_debt_value                 138    138  96,58,00,00,000    1
airport_totals                      138    138      New Zealand    1
oil_production                      138    138      New Zealand    1
oil_production_value                138     88                0   46
oil_consumption                     138    138      New Zealand    1
oil_consumption_value               138    102            18500    4
proven_oil_reserves                 138    138      New Zealand    1
proven_oil_reserves_value           138     84                0   46
available_manpower                  138    138      New Zealand    1
available_manpower_value            138    138      1,96,00,998    1
total_population                    138    138      New Zealand    1
total_population_value              138    138      8,30,24,745    1
total_square_land_area              138    138      New Zealand    1
total_square_land_area_value        138    138         1,63,610    1
total_coastline_coverage            109    109      New Zealand    1
total_coastline_coverage_value      109    104              193    2
total_waterway_coverage             138    138      New Zealand    1
total_waterway_coverage_value       138     92                0   38
total_border_coverage               129    129         Bulgaria    1

In [18]:
df.nunique()

military_strength                          138
military_strength_power_index              138
aircraft_strength                          138
aircraft_strength_value                    113
fighter/interceptor_strength               138
fighter/interceptor_strength_value          63
attack_aircraft_strength                   138
attack_aircraft_strength_value              38
transport_aircraft_fleet_strength          138
transport_aircraft_fleet_strength_value     49
trainer_aircraft_fleet                     138
trainer_aircraft_fleet_value                77
helicopter_fleet_strength                  138
helicopter_fleet_strength_value             97
attack_helicopter_fleet_strength           138
attack_helicopter_fleet_strength_value      45
tank_strength                              138
tank_strength_value                        106
afv/apc_strength                           138
afv/apc_strength_value                     130
self-propelled_artillery_strength          138
self-propelled_artillery_strength_value     70
towed_artillery_strength                   138
towed_artillery_strength_value              91
rocket_projector_strength                  138
rocket_projector_strength_value             68
navy_fleet_strengths                       124
navy_fleet_strengths_value                  78
aircraft_carrier_fleet_strength            115
aircraft_carrier_fleet_strength_value        5
submarine_fleet_strength                   115
submarine_fleet_strength_value              20
destroyer_fleet_strength                   115
destroyer_fleet_strength_value              11
frigate_fleet_strength                     115
frigate_fleet_strength_value                18
defense_spending_budget                    138
defense_spending_budget_value              124
external_debt                              138
external_debt_value                        138
airport_totals                             138
airport_totals_value                       108
oil_production                             138
oil_production_value                        88
oil_consumption                            138
oil_consumption_value                      102
proven_oil_reserves                        138
proven_oil_reserves_value                   84
available_manpower                         138
available_manpower_value                   138
total_population                           138
total_population_value                     138
total_square_land_area                     138
total_square_land_area_value               138
total_coastline_coverage                   109
total_coastline_coverage_value             104
total_waterway_coverage                    138
total_waterway_coverage_value               92
total_border_coverage                      129
total_border_coverage_value                125
dtype: int64

In [19]:
# to find how many unique values object features have
for col in df.select_dtypes(include=[np.number]).columns:
  print(f"{col} has {df[col].nunique()} unique value")

military_strength_power_index has 138 unique value
aircraft_strength_value has 113 unique value
fighter/interceptor_strength_value has 63 unique value
attack_aircraft_strength_value has 38 unique value
transport_aircraft_fleet_strength_value has 49 unique value
trainer_aircraft_fleet_value has 77 unique value
helicopter_fleet_strength_value has 97 unique value
attack_helicopter_fleet_strength_value has 45 unique value
tank_strength_value has 106 unique value
afv/apc_strength_value has 130 unique value
self-propelled_artillery_strength_value has 70 unique value
towed_artillery_strength_value has 91 unique value
rocket_projector_strength_value has 68 unique value
navy_fleet_strengths_value has 78 unique value
aircraft_carrier_fleet_strength_value has 5 unique value
submarine_fleet_strength_value has 20 unique value
destroyer_fleet_strength_value has 11 unique value
frigate_fleet_strength_value has 18 unique value
airport_totals_value has 108 unique value
total_border_coverage_value has 125 unique value

In [20]:
df.duplicated().value_counts()

False    138
dtype: int64

## Implement basic steps to see how is your data looks like

## Convert multi index columns to one level

In [21]:
df.rename(columns={'military_strength': 'country'}, inplace=True)

In [22]:
# df = df.reset_index()
# del df['index']

In [23]:
# df.head(1)

In [24]:
# df.set_index('country', inplace=True)

In [25]:
#df.head(1)

## Detect and drop duplicated columns

In [26]:
df.columns

Index(['country', 'military_strength_power_index', 'aircraft_strength',
       'aircraft_strength_value', 'fighter/interceptor_strength',
       'fighter/interceptor_strength_value', 'attack_aircraft_strength',
       'attack_aircraft_strength_value', 'transport_aircraft_fleet_strength',
       'transport_aircraft_fleet_strength_value', 'trainer_aircraft_fleet',
       'trainer_aircraft_fleet_value', 'helicopter_fleet_strength',
       'helicopter_fleet_strength_value', 'attack_helicopter_fleet_strength',
       'attack_helicopter_fleet_strength_value', 'tank_strength',
       'tank_strength_value', 'afv/apc_strength', 'afv/apc_strength_value',
       'self-propelled_artillery_strength',
       'self-propelled_artillery_strength_value', 'towed_artillery_strength',
       'towed_artillery_strength_value', 'rocket_projector_strength',
       'rocket_projector_strength_value', 'navy_fleet_strengths',
       'navy_fleet_strengths_value', 'aircraft_carrier_fleet_strength',
       'aircraft_carrier_fleet_strength_value', 'submarine_fleet_strength',
       'submarine_fleet_strength_value', 'destroyer_fleet_strength',
       'destroyer_fleet_strength_value', 'frigate_fleet_strength',
       'frigate_fleet_strength_value', 'defense_spending_budget',
       'defense_spending_budget_value', 'external_debt', 'external_debt_value',
       'airport_totals', 'airport_totals_value', 'oil_production',
       'oil_production_value', 'oil_consumption', 'oil_consumption_value',
       'proven_oil_reserves', 'proven_oil_reserves_value',
       'available_manpower', 'available_manpower_value', 'total_population',
       'total_population_value', 'total_square_land_area',
       'total_square_land_area_value', 'total_coastline_coverage',
       'total_coastline_coverage_value', 'total_waterway_coverage',
       'total_waterway_coverage_value', 'total_border_coverage',
       'total_border_coverage_value'],
      dtype='object')

In [27]:
drop_columns = ['aircraft_strength',
               'fighter/interceptor_strength',
               'attack_aircraft_strength',
               'transport_aircraft_fleet_strength',
               'trainer_aircraft_fleet',
               'helicopter_fleet_strength',
               'attack_helicopter_fleet_strength',
               'tank_strength',
               'afv/apc_strength',
               'self-propelled_artillery_strength',
               'towed_artillery_strength',
               'rocket_projector_strength',
               'navy_fleet_strengths',
               'aircraft_carrier_fleet_strength',
               'submarine_fleet_strength',
               'destroyer_fleet_strength',
               'frigate_fleet_strength',
               'defense_spending_budget',
               'external_debt',
               'airport_totals', 
               'oil_production',
               'oil_consumption',
               'proven_oil_reserves',
               'available_manpower',
               'total_population',
               'total_square_land_area',
               'total_coastline_coverage',
               'total_waterway_coverage',
               'total_border_coverage',
               ]

In [28]:
df.drop(drop_columns, axis = 1, inplace = True)

In [29]:
df.head(1)

,country,military_strength_power_index,aircraft_strength_value,fighter/interceptor_strength_value,attack_aircraft_strength_value,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet_value,helicopter_fleet_strength_value,attack_helicopter_fleet_strength_value,tank_strength_value,afv/apc_strength_value,self-propelled_artillery_strength_value,towed_artillery_strength_value,rocket_projector_strength_value,navy_fleet_strengths_value,aircraft_carrier_fleet_strength_value,submarine_fleet_strength_value,destroyer_fleet_strength_value,frigate_fleet_strength_value,defense_spending_budget_value,external_debt_value,airport_totals_value,oil_production_value,oil_consumption_value,proven_oil_reserves_value,available_manpower_value,total_population_value,total_square_land_area_value,total_coastline_coverage_value,total_waterway_coverage_value,total_border_coverage_value
0,Afghanistan,1.344,260,0,25,30,0,187,0,0,1062,0,176,50,0.000,0.000,0.000,0.000,0.000,"12,00,00,00,000","2,84,00,00,000",43,0,5500,0,"1,43,25,743","3,49,40,837","6,52,230",0,1200,5987.000

In [30]:
df.shape

(138, 31)

## Check for missing values

In [31]:
missing (df)

                                         Missing_Number  Missing_Percent
total_coastline_coverage_value                       29            0.210
aircraft_carrier_fleet_strength_value                23            0.167
frigate_fleet_strength_value                         23            0.167
destroyer_fleet_strength_value                       23            0.167
submarine_fleet_strength_value                       23            0.167
navy_fleet_strengths_value                           14            0.101
total_border_coverage_value                           9            0.065
helicopter_fleet_strength_value                       0            0.000
attack_helicopter_fleet_strength_value                0            0.000
total_waterway_coverage_value                         0            0.000
aircraft_strength_value                               0            0.000
total_square_land_area_value                          0            0.000
total_population_value                                0            0.000
available_manpower_value                              0            0.000
proven_oil_reserves_value                             0            0.000
oil_consumption_value                                 0            0.000
oil_production_value                                  0            0.000
airport_totals_value                                  0            0.000
external_debt_value                                   0            0.000
defense_spending_budget_value                         0            0.000
fighter/interceptor_strength_value                    0            0.000
attack_aircraft_strength_value                        0            0.000
transport_aircraft_fleet_strength_value               0            0.000
military_strength_power_index                         0            0.000
trainer_aircraft_fleet_value                          0            0.000
rocket_projector_strength_value                       0            0.000
towed_artillery_strength_value                        0            0.000
self-propelled_artillery_strength_value               0            0.000
afv/apc_strength_value                                0            0.000
tank_strength_value                                   0            0.000
country                                               0            0.000

## Deal with missing values 
* Hint-1, use wikipedia to fill in missing values comparing with similar countries
* Hint-2, Georeferences of countries can help you

In [32]:
# submarine_fleet_strength_value : South Korea --> 22
# frigate_fleet_strength_value : South Korea --> 4
# destroyer_fleet_strength_value : South Korea --> 12

In [33]:
df.loc[(df['country']=="South Kores") & (df['submarine_fleet_strength_value'].isnull()), 'submarine_fleet_strength_value'] = 22

In [34]:
df.loc[(df['country']=="South Kores") & (df['frigate_fleet_strength_value'].isnull()), 'frigate_fleet_strength_value'] = 4

In [35]:
df.loc[(df['country']=="South Kores") & (df['destroyer_fleet_strength_value'].isnull()), 'destroyer_fleet_strength_value'] = 12

In [36]:
df.fillna(0, inplace=True)

In [37]:
missing (df)

                                         Missing_Number  Missing_Percent
country                                               0            0.000
submarine_fleet_strength_value                        0            0.000
total_waterway_coverage_value                         0            0.000
total_coastline_coverage_value                        0            0.000
total_square_land_area_value                          0            0.000
total_population_value                                0            0.000
available_manpower_value                              0            0.000
proven_oil_reserves_value                             0            0.000
oil_consumption_value                                 0            0.000
oil_production_value                                  0            0.000
airport_totals_value                                  0            0.000
external_debt_value                                   0            0.000
defense_spending_budget_value                         0            0.000
frigate_fleet_strength_value                          0            0.000
destroyer_fleet_strength_value                        0            0.000
aircraft_carrier_fleet_strength_value                 0            0.000
military_strength_power_index                         0            0.000
navy_fleet_strengths_value                            0            0.000
rocket_projector_strength_value                       0            0.000
towed_artillery_strength_value                        0            0.000
self-propelled_artillery_strength_value               0            0.000
afv/apc_strength_value                                0            0.000
tank_strength_value                                   0            0.000
attack_helicopter_fleet_strength_value                0            0.000
helicopter_fleet_strength_value                       0            0.000
trainer_aircraft_fleet_value                          0            0.000
transport_aircraft_fleet_strength_value               0            0.000
attack_aircraft_strength_value                        0            0.000
fighter/interceptor_strength_value                    0            0.000
aircraft_strength_value                               0            0.000
total_border_coverage_value                           0            0.000

In [38]:
df = df.reset_index()
del df['index']

In [39]:
df.head(1)

,country,military_strength_power_index,aircraft_strength_value,fighter/interceptor_strength_value,attack_aircraft_strength_value,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet_value,helicopter_fleet_strength_value,attack_helicopter_fleet_strength_value,tank_strength_value,afv/apc_strength_value,self-propelled_artillery_strength_value,towed_artillery_strength_value,rocket_projector_strength_value,navy_fleet_strengths_value,aircraft_carrier_fleet_strength_value,submarine_fleet_strength_value,destroyer_fleet_strength_value,frigate_fleet_strength_value,defense_spending_budget_value,external_debt_value,airport_totals_value,oil_production_value,oil_consumption_value,proven_oil_reserves_value,available_manpower_value,total_population_value,total_square_land_area_value,total_coastline_coverage_value,total_waterway_coverage_value,total_border_coverage_value
0,Afghanistan,1.344,260,0,25,30,0,187,0,0,1062,0,176,50,0.000,0.000,0.000,0.000,0.000,"12,00,00,00,000","2,84,00,00,000",43,0,5500,0,"1,43,25,743","3,49,40,837","6,52,230",0,1200,5987.000

In [40]:
df.set_index('country', inplace=True)

In [41]:
df.head(1)

,military_strength_power_index,aircraft_strength_value,fighter/interceptor_strength_value,attack_aircraft_strength_value,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet_value,helicopter_fleet_strength_value,attack_helicopter_fleet_strength_value,tank_strength_value,afv/apc_strength_value,self-propelled_artillery_strength_value,towed_artillery_strength_value,rocket_projector_strength_value,navy_fleet_strengths_value,aircraft_carrier_fleet_strength_value,submarine_fleet_strength_value,destroyer_fleet_strength_value,frigate_fleet_strength_value,defense_spending_budget_value,external_debt_value,airport_totals_value,oil_production_value,oil_consumption_value,proven_oil_reserves_value,available_manpower_value,total_population_value,total_square_land_area_value,total_coastline_coverage_value,total_waterway_coverage_value,total_border_coverage_value
country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1.344,260,0,25,30,0,187,0,0,1062,0,176,50,0.000,0.000,0.000,0.000,0.000,"12,00,00,00,000","2,84,00,00,000",43,0,5500,0,"1,43,25,743","3,49,40,837","6,52,230",0,1200,5987.000

In [42]:
df.shape

(138, 30)

## Fix the dtypes

In [43]:
df.dtypes

military_strength_power_index              float64
aircraft_strength_value                      int64
fighter/interceptor_strength_value           int64
attack_aircraft_strength_value               int64
transport_aircraft_fleet_strength_value      int64
trainer_aircraft_fleet_value                 int64
helicopter_fleet_strength_value              int64
attack_helicopter_fleet_strength_value       int64
tank_strength_value                          int64
afv/apc_strength_value                       int64
self-propelled_artillery_strength_value      int64
towed_artillery_strength_value               int64
rocket_projector_strength_value              int64
navy_fleet_strengths_value                 float64
aircraft_carrier_fleet_strength_value      float64
submarine_fleet_strength_value             float64
destroyer_fleet_strength_value             float64
frigate_fleet_strength_value               float64
defense_spending_budget_value               object
external_debt_value                         object
airport_totals_value                         int64
oil_production_value                        object
oil_consumption_value                       object
proven_oil_reserves_value                   object
available_manpower_value                    object
total_population_value                      object
total_square_land_area_value                object
total_coastline_coverage_value              object
total_waterway_coverage_value               object
total_border_coverage_value                float64
dtype: object

In [44]:
df.head(1)

,military_strength_power_index,aircraft_strength_value,fighter/interceptor_strength_value,attack_aircraft_strength_value,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet_value,helicopter_fleet_strength_value,attack_helicopter_fleet_strength_value,tank_strength_value,afv/apc_strength_value,self-propelled_artillery_strength_value,towed_artillery_strength_value,rocket_projector_strength_value,navy_fleet_strengths_value,aircraft_carrier_fleet_strength_value,submarine_fleet_strength_value,destroyer_fleet_strength_value,frigate_fleet_strength_value,defense_spending_budget_value,external_debt_value,airport_totals_value,oil_production_value,oil_consumption_value,proven_oil_reserves_value,available_manpower_value,total_population_value,total_square_land_area_value,total_coastline_coverage_value,total_waterway_coverage_value,total_border_coverage_value
country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1.344,260,0,25,30,0,187,0,0,1062,0,176,50,0.000,0.000,0.000,0.000,0.000,"12,00,00,00,000","2,84,00,00,000",43,0,5500,0,"1,43,25,743","3,49,40,837","6,52,230",0,1200,5987.000

In [45]:
df["defense_spending_budget_value"] = df["defense_spending_budget_value"].str.replace(",", "")

In [46]:
df['defense_spending_budget_value'] = df['defense_spending_budget_value'].astype(float, errors = 'raise')

In [47]:
df["external_debt_value"] = df["external_debt_value"].str.replace(",", "")

In [48]:
df['external_debt_value'] = df['external_debt_value'].astype(float, errors = 'raise')

In [121]:
df1 = df.copy()

In [122]:
df1["oil_production_value"]

country
Afghanistan            0
Albania            16000
Algeria        13,06,000
Angola         16,66,000
Argentina       4,79,400
                 ...
Venezuela      20,07,000
Vietnam         2,71,400
Yemen              12260
Zambia                 0
Zimbabwe               0
Name: oil_production_value, Length: 138, dtype: object

In [116]:
# a = [","]
# for char in df1.loc["Algeria"]["oil_production_value"]:
#     if char in a:
#         df1.loc["Algeria"]["oil_production_value"] = df1.loc["Algeria"]["oil_production_value"].replace(char,'')

In [125]:
# df1.loc["Algeria"]["oil_production_value"] = df1.loc["Algeria"]["oil_production_value"].str.translate(None, ',')

In [126]:
import string
df1.loc["Algeria"]["oil_production_value"] = df1.loc["Algeria"]["oil_production_value"].translate(string.maketrans('', ''), '!@#$')

AttributeError: module 'string' has no attribute 'maketrans'

In [120]:
df1.loc["Algeria"]["oil_production_value"]

'13,06,000'

In [89]:
df1["oil_production_value"] = df1["oil_production_value"].str.replace(",", "")

In [90]:
df1["oil_production_value"]

country
Afghanistan        NaN
Albania            NaN
Algeria        1306000
Angola         1666000
Argentina       479400
                ...
Venezuela      2007000
Vietnam         271400
Yemen              NaN
Zambia             NaN
Zimbabwe           NaN
Name: oil_production_value, Length: 138, dtype: object

In [61]:
df1["oil_production_value"] = df1["oil_production_value"].str.replace(",", "")

In [62]:
df1["oil_production_value"].value_counts(dropna=False).index

Index([       nan,  '1981000', '10580000',   '230880',   '589400',   '479400',
         '853600',   '102300',  '1306000',   '245000',   '970400',   '198800',
        '2007000',  '1946000',  '2753000',  '4454000',  '3977000',  '3838000',
         '128000',  '2622000',   '150200',  '1618000',   '647900',  '9352000',
         '244200',   '137100',  '4469000',  '1500000',   '910500',   '151000',
        '1777000',   '733900', '10130000',  '1666000',   '789300',   '239700',
         '263000',  '3174000',   '897100',   '271400',   '531300',   '801700'],
      dtype='object')

In [124]:
import string
line = line.translate(string.maketrans('', ''), '!@#$')

NameError: name 'line' is not defined

In [526]:
df.dtypes

military_strength_power_index              float64
aircraft_strength_value                      int64
fighter/interceptor_strength_value           int64
attack_aircraft_strength_value               int64
transport_aircraft_fleet_strength_value      int64
trainer_aircraft_fleet_value                 int64
helicopter_fleet_strength_value              int64
attack_helicopter_fleet_strength_value       int64
tank_strength_value                          int64
afv/apc_strength_value                       int64
self-propelled_artillery_strength_value      int64
towed_artillery_strength_value               int64
rocket_projector_strength_value              int64
navy_fleet_strengths_value                 float64
aircraft_carrier_fleet_strength_value      float64
submarine_fleet_strength_value             float64
destroyer_fleet_strength_value             float64
frigate_fleet_strength_value               float64
defense_spending_budget_value              float64
external_debt_value                        float64
airport_totals_value                         int64
oil_production_value                       float64
oil_consumption_value                      float64
proven_oil_reserves_value                  float64
available_manpower_value                   float64
total_population_value                     float64
total_square_land_area_value               float64
total_coastline_coverage_value             float64
total_waterway_coverage_value              float64
total_border_coverage_value                float64
dtype: object

In [577]:
missing(df)

                                         Missing_Number  Missing_Percent
oil_production_value                                 97            0.703
military_strength_power_index                         0            0.000
aircraft_strength_value                               0            0.000
total_waterway_coverage_value                         0            0.000
total_coastline_coverage_value                        0            0.000
total_square_land_area_value                          0            0.000
total_population_value                                0            0.000
available_manpower_value                              0            0.000
proven_oil_reserves_value                             0            0.000
oil_consumption_value                                 0            0.000
airport_totals_value                                  0            0.000
external_debt_value                                   0            0.000
defense_spending_budget_value                         0            0.000
frigate_fleet_strength_value                          0            0.000
destroyer_fleet_strength_value                        0            0.000
submarine_fleet_strength_value                        0            0.000
aircraft_carrier_fleet_strength_value                 0            0.000
navy_fleet_strengths_value                            0            0.000
rocket_projector_strength_value                       0            0.000
towed_artillery_strength_value                        0            0.000
self-propelled_artillery_strength_value               0            0.000
afv/apc_strength_value                                0            0.000
tank_strength_value                                   0            0.000
attack_helicopter_fleet_strength_value                0            0.000
helicopter_fleet_strength_value                       0            0.000
trainer_aircraft_fleet_value                          0            0.000
transport_aircraft_fleet_strength_value               0            0.000
attack_aircraft_strength_value                        0            0.000
fighter/interceptor_strength_value                    0            0.000
total_border_coverage_value                           0            0.000

## Drop the features that not affect military power
* Hint-1,  Georeferences not proper features

In [41]:
df.head()

,military_strength,military_strength_power_index,aircraft_strength,aircraft_strength_value,fighter/interceptor_strength,fighter/interceptor_strength_value,attack_aircraft_strength,attack_aircraft_strength_value,transport_aircraft_fleet_strength,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet,trainer_aircraft_fleet_value,helicopter_fleet_strength,helicopter_fleet_strength_value,attack_helicopter_fleet_strength,attack_helicopter_fleet_strength_value,tank_strength,tank_strength_value,afv/apc_strength,afv/apc_strength_value,self-propelled_artillery_strength,self-propelled_artillery_strength_value,towed_artillery_strength,towed_artillery_strength_value,rocket_projector_strength,rocket_projector_strength_value,navy_fleet_strengths,navy_fleet_strengths_value,aircraft_carrier_fleet_strength,aircraft_carrier_fleet_strength_value,submarine_fleet_strength,submarine_fleet_strength_value,destroyer_fleet_strength,destroyer_fleet_strength_value,frigate_fleet_strength,frigate_fleet_strength_value,defense_spending_budget,defense_spending_budget_value,external_debt,external_debt_value,airport_totals,airport_totals_value,oil_production,oil_production_value,oil_consumption,oil_consumption_value,proven_oil_reserves,proven_oil_reserves_value,available_manpower,available_manpower_value,total_population,total_population_value,total_square_land_area,total_square_land_area_value,total_coastline_coverage,total_coastline_coverage_value,total_waterway_coverage,total_waterway_coverage_value,total_border_coverage,total_border_coverage_value
0,Afghanistan,1.344,Afghanistan,260,Afghanistan,0,Afghanistan,25,Afghanistan,30,Afghanistan,0,Afghanistan,187,Afghanistan,0,Afghanistan,0,Afghanistan,1062,Afghanistan,0,Afghanistan,176,Afghanistan,50,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,"12,00,00,00,000",Afghanistan,"2,84,00,00,000",Afghanistan,43,Afghanistan,0,Afghanistan,5500,Afghanistan,0,Afghanistan,"1,43,25,743",Afghanistan,"3,49,40,837",Afghanistan,"6,52,230",Afghanistan,0,Afghanistan,1200,Afghanistan,5987.000
1,Albania,2.314,Albania,19,Albania,0,Albania,0,Albania,0,Albania,0,Albania,19,Albania,0,Albania,0,Albania,467,Albania,0,Albania,0,Albania,0,Albania,38.000,Albania,0.000,Albania,0.000,Albania,0.000,Albania,0.000,Albania,"25,00,00,000",Albania,"9,50,50,00,000",Albania,4,Albania,16000,Albania,42500,Albania,"16,83,00,000",Albania,"15,19,438",Albania,"30,57,220",Albania,28748,Albania,362,Albania,41,Albania,691.000
2,Algeria,0.466,Algeria,551,Algeria,103,Algeria,22,Algeria,59,Algeria,87,Algeria,257,Algeria,45,Algeria,880,Algeria,7361,Algeria,320,Algeria,240,Algeria,316,Algeria,201.000,Algeria,0.000,Algeria,6.000,Algeria,0.000,Algeria,5.000,Algeria,"13,00,00,00,000",Algeria,"6,26,00,00,000",Algeria,157,Algeria,"13,06,000",Algeria,"3,25,000",Algeria,"12,20,00,00,000",Algeria,"2,07,41,263",Algeria,"4,16,57,488",Algeria,"23,81,741",Algeria,998,Algeria,0,Algeria,6734.000
3,Angola,0.838,Angola,295,Angola,72,Angola,18,Angola,30,Angola,47,Angola,126,Angola,15,Angola,379,Angola,595,Angola,28,Angola,357,Angola,115,Angola,57.000,Angola,0.000,Angola,0.000,Angola,0.000,Angola,0.000,Angola,"7,00,00,00,000",Angola,"42,08,00,00,000",Angola,176,Angola,"16,66,000",Angola,82300,Angola,"8,27,30,00,000",Angola,"62,44,205",Angola,"3,03,55,880",Angola,"12,46,700",Angola,1600,Angola,1300,Angola,5369.000
4,Argentina,0.652,Argentina,227,Argentina,24,Argentina,7,Argentina,9,Argentina,64,Argentina,100,Argentina,0,Argentina,370,Argentina,739,Argentina,83,Argentina,172,Argentina,26,Argentina,49.000,Argentina,0.000,Argentina,2.000,Argentina,4.000,Argentina,0.000,Argentina,"4,20,00,00,000",Argentina,"2,14,90,00,00,000",Argentina,1138,Argentina,"4,79,400",Argentina,"6,85,000",Argentina,"2,18,50,00,000",Argentina,"2,01,79,430",Argentina,"4,46,94,198",Argentina,"27,80,400",Argentina,4989,Argentina,11000,Argentina,11968.000

In [43]:
df.head()

,country,military_strength_power_index,aircraft_strength,aircraft_strength_value,fighter/interceptor_strength,fighter/interceptor_strength_value,attack_aircraft_strength,attack_aircraft_strength_value,transport_aircraft_fleet_strength,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet,trainer_aircraft_fleet_value,helicopter_fleet_strength,helicopter_fleet_strength_value,attack_helicopter_fleet_strength,attack_helicopter_fleet_strength_value,tank_strength,tank_strength_value,afv/apc_strength,afv/apc_strength_value,self-propelled_artillery_strength,self-propelled_artillery_strength_value,towed_artillery_strength,towed_artillery_strength_value,rocket_projector_strength,rocket_projector_strength_value,navy_fleet_strengths,navy_fleet_strengths_value,aircraft_carrier_fleet_strength,aircraft_carrier_fleet_strength_value,submarine_fleet_strength,submarine_fleet_strength_value,destroyer_fleet_strength,destroyer_fleet_strength_value,frigate_fleet_strength,frigate_fleet_strength_value,defense_spending_budget,defense_spending_budget_value,external_debt,external_debt_value,airport_totals,airport_totals_value,oil_production,oil_production_value,oil_consumption,oil_consumption_value,proven_oil_reserves,proven_oil_reserves_value,available_manpower,available_manpower_value,total_population,total_population_value,total_square_land_area,total_square_land_area_value,total_coastline_coverage,total_coastline_coverage_value,total_waterway_coverage,total_waterway_coverage_value,total_border_coverage,total_border_coverage_value
0,Afghanistan,1.344,Afghanistan,260,Afghanistan,0,Afghanistan,25,Afghanistan,30,Afghanistan,0,Afghanistan,187,Afghanistan,0,Afghanistan,0,Afghanistan,1062,Afghanistan,0,Afghanistan,176,Afghanistan,50,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,"12,00,00,00,000",Afghanistan,"2,84,00,00,000",Afghanistan,43,Afghanistan,0,Afghanistan,5500,Afghanistan,0,Afghanistan,"1,43,25,743",Afghanistan,"3,49,40,837",Afghanistan,"6,52,230",Afghanistan,0,Afghanistan,1200,Afghanistan,5987.000
1,Albania,2.314,Albania,19,Albania,0,Albania,0,Albania,0,Albania,0,Albania,19,Albania,0,Albania,0,Albania,467,Albania,0,Albania,0,Albania,0,Albania,38.000,Albania,0.000,Albania,0.000,Albania,0.000,Albania,0.000,Albania,"25,00,00,000",Albania,"9,50,50,00,000",Albania,4,Albania,16000,Albania,42500,Albania,"16,83,00,000",Albania,"15,19,438",Albania,"30,57,220",Albania,28748,Albania,362,Albania,41,Albania,691.000
2,Algeria,0.466,Algeria,551,Algeria,103,Algeria,22,Algeria,59,Algeria,87,Algeria,257,Algeria,45,Algeria,880,Algeria,7361,Algeria,320,Algeria,240,Algeria,316,Algeria,201.000,Algeria,0.000,Algeria,6.000,Algeria,0.000,Algeria,5.000,Algeria,"13,00,00,00,000",Algeria,"6,26,00,00,000",Algeria,157,Algeria,"13,06,000",Algeria,"3,25,000",Algeria,"12,20,00,00,000",Algeria,"2,07,41,263",Algeria,"4,16,57,488",Algeria,"23,81,741",Algeria,998,Algeria,0,Algeria,6734.000
3,Angola,0.838,Angola,295,Angola,72,Angola,18,Angola,30,Angola,47,Angola,126,Angola,15,Angola,379,Angola,595,Angola,28,Angola,357,Angola,115,Angola,57.000,Angola,0.000,Angola,0.000,Angola,0.000,Angola,0.000,Angola,"7,00,00,00,000",Angola,"42,08,00,00,000",Angola,176,Angola,"16,66,000",Angola,82300,Angola,"8,27,30,00,000",Angola,"62,44,205",Angola,"3,03,55,880",Angola,"12,46,700",Angola,1600,Angola,1300,Angola,5369.000
4,Argentina,0.652,Argentina,227,Argentina,24,Argentina,7,Argentina,9,Argentina,64,Argentina,100,Argentina,0,Argentina,370,Argentina,739,Argentina,83,Argentina,172,Argentina,26,Argentina,49.000,Argentina,0.000,Argentina,2.000,Argentina,4.000,Argentina,0.000,Argentina,"4,20,00,00,000",Argentina,"2,14,90,00,00,000",Argentina,1138,Argentina,"4,79,400",Argentina,"6,85,000",Argentina,"2,18,50,00,000",Argentina,"2,01,79,430",Argentina,"4,46,94,198",Argentina,"27,80,400",Argentina,4989,Argentina,11000,Argentina,11968.000

In [44]:
df.shape

(138, 60)

In [45]:
# df.drop(df.columns[[1, 61]], axis=1, inplace=True)

In [46]:
df.shape

(138, 60)

In [ ]:
drop_features = ['country', 'military_strength_power_index', 'aircraft_strength',
       'aircraft_strength_value', 'fighter/interceptor_strength',
       'fighter/interceptor_strength_value', 'attack_aircraft_strength',
       'attack_aircraft_strength_value', 'transport_aircraft_fleet_strength',
       'transport_aircraft_fleet_strength_value', 'trainer_aircraft_fleet',
       'trainer_aircraft_fleet_value', 'helicopter_fleet_strength',
       'helicopter_fleet_strength_value', 'attack_helicopter_fleet_strength',
       'attack_helicopter_fleet_strength_value', 'tank_strength',
       'tank_strength_value', 'afv/apc_strength', 'afv/apc_strength_value',
       'self-propelled_artillery_strength',
       'self-propelled_artillery_strength_value', 'towed_artillery_strength',
       'towed_artillery_strength_value', 'rocket_projector_strength',
       'rocket_projector_strength_value', 'navy_fleet_strengths',
       'navy_fleet_strengths_value', 'aircraft_carrier_fleet_strength',
       'aircraft_carrier_fleet_strength_value', 'submarine_fleet_strength',
       'submarine_fleet_strength_value', 'destroyer_fleet_strength',
       'destroyer_fleet_strength_value', 'frigate_fleet_strength',
       'frigate_fleet_strength_value', 'defense_spending_budget',
       'defense_spending_budget_value', 'external_debt', 'external_debt_value',
       'airport_totals', 'airport_totals_value', 'oil_production',
       'oil_production_value', 'oil_consumption', 'oil_consumption_value',
       'proven_oil_reserves', 'proven_oil_reserves_value',
       'available_manpower', 'available_manpower_value', 'total_population',
       'total_population_value', 'total_square_land_area',
       'total_square_land_area_value', 'total_coastline_coverage',
       'total_coastline_coverage_value', 'total_waterway_coverage',
       'total_waterway_coverage_value', 'total_border_coverage',
       'total_border_coverage_value']

In [47]:
df.columns

Index(['country', 'military_strength_power_index', 'aircraft_strength',
       'aircraft_strength_value', 'fighter/interceptor_strength',
       'fighter/interceptor_strength_value', 'attack_aircraft_strength',
       'attack_aircraft_strength_value', 'transport_aircraft_fleet_strength',
       'transport_aircraft_fleet_strength_value', 'trainer_aircraft_fleet',
       'trainer_aircraft_fleet_value', 'helicopter_fleet_strength',
       'helicopter_fleet_strength_value', 'attack_helicopter_fleet_strength',
       'attack_helicopter_fleet_strength_value', 'tank_strength',
       'tank_strength_value', 'afv/apc_strength', 'afv/apc_strength_value',
       'self-propelled_artillery_strength',
       'self-propelled_artillery_strength_value', 'towed_artillery_strength',
       'towed_artillery_strength_value', 'rocket_projector_strength',
       'rocket_projector_strength_value', 'navy_fleet_strengths',
       'navy_fleet_strengths_value', 'aircraft_carrier_fleet_strength',
       'aircraft_carrier_fleet_strength_value', 'submarine_fleet_strength',
       'submarine_fleet_strength_value', 'destroyer_fleet_strength',
       'destroyer_fleet_strength_value', 'frigate_fleet_strength',
       'frigate_fleet_strength_value', 'defense_spending_budget',
       'defense_spending_budget_value', 'external_debt', 'external_debt_value',
       'airport_totals', 'airport_totals_value', 'oil_production',
       'oil_production_value', 'oil_consumption', 'oil_consumption_value',
       'proven_oil_reserves', 'proven_oil_reserves_value',
       'available_manpower', 'available_manpower_value', 'total_population',
       'total_population_value', 'total_square_land_area',
       'total_square_land_area_value', 'total_coastline_coverage',
       'total_coastline_coverage_value', 'total_waterway_coverage',
       'total_waterway_coverage_value', 'total_border_coverage',
       'total_border_coverage_value'],
      dtype='object')

In [ ]:
# df = df.loc[:,~df.columns.duplicated()]

In [68]:
df.head()

,military_strength,military_strength_power_index,aircraft_strength,aircraft_strength_value,fighter/interceptor_strength,fighter/interceptor_strength_value,attack_aircraft_strength,attack_aircraft_strength_value,transport_aircraft_fleet_strength,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet,trainer_aircraft_fleet_value,helicopter_fleet_strength,helicopter_fleet_strength_value,attack_helicopter_fleet_strength,attack_helicopter_fleet_strength_value,tank_strength,tank_strength_value,afv/apc_strength,afv/apc_strength_value,self-propelled_artillery_strength,self-propelled_artillery_strength_value,towed_artillery_strength,towed_artillery_strength_value,rocket_projector_strength,rocket_projector_strength_value,navy_fleet_strengths,navy_fleet_strengths_value,aircraft_carrier_fleet_strength,aircraft_carrier_fleet_strength_value,submarine_fleet_strength,submarine_fleet_strength_value,destroyer_fleet_strength,destroyer_fleet_strength_value,frigate_fleet_strength,frigate_fleet_strength_value,defense_spending_budget,defense_spending_budget_value,external_debt,external_debt_value,airport_totals,airport_totals_value,oil_production,oil_production_value,oil_consumption,oil_consumption_value,proven_oil_reserves,proven_oil_reserves_value,available_manpower,available_manpower_value,total_population,total_population_value,total_square_land_area,total_square_land_area_value,total_coastline_coverage,total_coastline_coverage_value,total_waterway_coverage,total_waterway_coverage_value,total_border_coverage,total_border_coverage_value
0,Afghanistan,1.344,Afghanistan,260,Afghanistan,0,Afghanistan,25,Afghanistan,30,Afghanistan,0,Afghanistan,187,Afghanistan,0,Afghanistan,0,Afghanistan,1062,Afghanistan,0,Afghanistan,176,Afghanistan,50,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,"12,00,00,00,000",Afghanistan,"2,84,00,00,000",Afghanistan,43,Afghanistan,0,Afghanistan,5500,Afghanistan,0,Afghanistan,"1,43,25,743",Afghanistan,"3,49,40,837",Afghanistan,"6,52,230",Afghanistan,0,Afghanistan,1200,Afghanistan,5987.000
1,Albania,2.314,Albania,19,Albania,0,Albania,0,Albania,0,Albania,0,Albania,19,Albania,0,Albania,0,Albania,467,Albania,0,Albania,0,Albania,0,Albania,38.000,Albania,0.000,Albania,0.000,Albania,0.000,Albania,0.000,Albania,"25,00,00,000",Albania,"9,50,50,00,000",Albania,4,Albania,16000,Albania,42500,Albania,"16,83,00,000",Albania,"15,19,438",Albania,"30,57,220",Albania,28748,Albania,362,Albania,41,Albania,691.000
2,Algeria,0.466,Algeria,551,Algeria,103,Algeria,22,Algeria,59,Algeria,87,Algeria,257,Algeria,45,Algeria,880,Algeria,7361,Algeria,320,Algeria,240,Algeria,316,Algeria,201.000,Algeria,0.000,Algeria,6.000,Algeria,0.000,Algeria,5.000,Algeria,"13,00,00,00,000",Algeria,"6,26,00,00,000",Algeria,157,Algeria,"13,06,000",Algeria,"3,25,000",Algeria,"12,20,00,00,000",Algeria,"2,07,41,263",Algeria,"4,16,57,488",Algeria,"23,81,741",Algeria,998,Algeria,0,Algeria,6734.000
3,Angola,0.838,Angola,295,Angola,72,Angola,18,Angola,30,Angola,47,Angola,126,Angola,15,Angola,379,Angola,595,Angola,28,Angola,357,Angola,115,Angola,57.000,Angola,0.000,Angola,0.000,Angola,0.000,Angola,0.000,Angola,"7,00,00,00,000",Angola,"42,08,00,00,000",Angola,176,Angola,"16,66,000",Angola,82300,Angola,"8,27,30,00,000",Angola,"62,44,205",Angola,"3,03,55,880",Angola,"12,46,700",Angola,1600,Angola,1300,Angola,5369.000
4,Argentina,0.652,Argentina,227,Argentina,24,Argentina,7,Argentina,9,Argentina,64,Argentina,100,Argentina,0,Argentina,370,Argentina,739,Argentina,83,Argentina,172,Argentina,26,Argentina,49.000,Argentina,0.000,Argentina,2.000,Argentina,4.000,Argentina,0.000,Argentina,"4,20,00,00,000",Argentina,"2,14,90,00,00,000",Argentina,1138,Argentina,"4,79,400",Argentina,"6,85,000",Argentina,"2,18,50,00,000",Argentina,"2,01,79,430",Argentina,"4,46,94,198",Argentina,"27,80,400",Argentina,4989,Argentina,11000,Argentina,11968.000

## Visualy inspect the some features

## Descriptive statistics

# Data Preprocessing

# Modelling

## Hopkins Test 
#### Assess the clusterability of a dataset. A score between 0 and 1, a score around 0.5 express no clusterability, a score tending to 1 express an uniform distrubution so clustering can't be useful and  0 express  not an uniform distrubution hence clusterering can be useful.

## Clustering with K-means

### Elbow Method 
### We use this method to find optimal k value by looking up to break point of graph.

### Model Building and label visualisation

### Evaluate

## Hierarchical Clustering

### Dendogram

### Model Building and label visualisation

### Evaluate