# Military Power Clustering Project
-World military power
Source : globalfirepower.com on 1st may 2020

- https://data.world/vizzup/world-military-power/workspace/file?filename=World+military+power.xlsx

# Import Libraries

In [115]:
!pip3 install termcolor

Requirement already satisfied: termcolor in c:\users\ata\anaconda3\lib\site-packages (1.1.0)

In [116]:
#!pip install pyforest
# 1-Import Libraies

#!pip install lightgbm
#!pip install catboost

import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
%matplotlib inline
%matplotlib notebook
import statsmodels.api as sm
import statsmodels.formula.api as smf

from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

#Model Selection
from sklearn import model_selection
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.model_selection import KFold, cross_val_predict

#Feature Selection
from sklearn.feature_selection import SelectKBest, SelectPercentile, f_classif, f_regression, mutual_info_regression

#Models
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso, Ridge, ElasticNet
from sklearn.linear_model import LogisticRegression

from sklearn import neighbors
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor

from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB

from sklearn.svm import SVC
from sklearn.svm import SVR

from sklearn import tree
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import ExtraTreesRegressor

from xgboost import XGBClassifier
from xgboost import plot_importance

from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

from sklearn.neural_network import MLPRegressor

#Scaling
from sklearn.preprocessing import scale 
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures 
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import PowerTransformer 
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler


#Metrics
from sklearn import metrics
from sklearn.metrics import roc_auc_score, auc, roc_curve, precision_recall_curve
from sklearn.metrics import accuracy_score, recall_score, average_precision_score
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import plot_roc_curve, plot_precision_recall_curve
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score 


#Importing plotly and cufflinks in offline mode
import cufflinks as cf
import plotly.offline
cf.go_offline()
cf.set_config_file(offline=False, world_readable=True)

#Ignore Warnings
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

#Figure&Display options
plt.rcParams["figure.figsize"] = (10,6)
pd.set_option('max_colwidth',200)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 200)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

#!pip install termcolor
from termcolor import colored
import missingno as msno 

# import numpy as np
# import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns
# import plotly.express as px
# import scipy.stats as stats
# import pyforest
# from sklearn.preprocessing import StandardScaler, PolynomialFeatures, OneHotEncoder, StandardScaler, PowerTransformer, MinMaxScaler, RobustScaler
# from sklearn.model_selection import KFold, cross_val_predict, train_test_split, GridSearchCV, cross_val_score, cross_validate
# from sklearn.linear_model import LinearRegression, Lasso, Ridge,ElasticNet
# from sklearn.metrics import plot_confusion_matrix, r2_score, mean_absolute_error, mean_squared_error, classification_report, confusion_matrix, accuracy_score, classification_report
# from sklearn.metrics import make_scorer, precision_score, precision_recall_curve, plot_precision_recall_curve, plot_roc_curve, roc_auc_score, roc_curve, f1_score, accuracy_score, recall_score
# from sklearn.pipeline import make_pipeline
# from sklearn.compose import make_column_transformer
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.svm import SVR
# from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier, GradientBoostingRegressor, ExtraTreesRegressor, AdaBoostClassifier
# from sklearn.feature_selection import SelectKBest, SelectPercentile, f_classif, f_regression, mutual_info_regression
# from xgboost import XGBRegressor, XGBClassifier
# from xgboost import plot_importance
# from sklearn.pipeline import Pipeline
# from sklearn.tree import plot_tree
# from sklearn.impute import SimpleImputer, KNNImputer
# from sklearn.model_selection import StratifiedKFold
# from sklearn.linear_model import LogisticRegression
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
# from sklearn.naive_bayes import GaussianNB
# from sklearn.svm import SVC
# #importing plotly and cufflinks in offline mode
# import cufflinks as cf
# import plotly.offline
# cf.go_offline()
# cf.set_config_file(offline=False, world_readable=True)
# import warnings
# warnings.filterwarnings('ignore')
# warnings.warn("this will not show")
# plt.rcParams["figure.figsize"] = (10,6)
# pd.set_option('max_colwidth',200)
# # pd.set_option('display.max_rows', 100) # if you wish to see more rows rather than default, just uncomment this line.
# pd.set_option('display.max_columns', 200)
# pd.set_option('display.float_format', lambda x: '%.3f' % x)
# import colorama
# from colorama import Fore, Style  # maakes strings colored
# # !pip3 install termcolor
# from termcolor import colored






# import numpy as np
# import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns



# from sklearn.model_selection import KFold,cross_val_score, RepeatedStratifiedKFold,StratifiedKFold
# from sklearn.impute import SimpleImputer
# from sklearn.pipeline import Pipeline
# from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
# from sklearn.preprocessing import OneHotEncoder,StandardScaler,PowerTransformer
# from sklearn.compose import ColumnTransformer
# from sklearn.pipeline import Pipeline
# from sklearn.linear_model import LogisticRegression
# from sklearn.svm import SVC
# from sklearn.impute import SimpleImputer
# from sklearn.dummy import DummyClassifier
# from imblearn.over_sampling import SMOTE

# from sklearn.ensemble import AdaBoostClassifier
# from sklearn.ensemble import GradientBoostingClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.ensemble import ExtraTreesClassifier
# from sklearn.neighbors import KNeighborsClassifier

# import optuna
# from xgboost import XGBClassifier
# from lightgbm import LGBMClassifier
# from catboost import CatBoostClassifier

# from sklearn.pipeline import make_pipeline
# from sklearn.pipeline import Pipeline
# from sklearn.compose import make_column_transformer

# from sklearn.model_selection import KFold, cross_val_predict, train_test_split,GridSearchCV,cross_val_score
# from sklearn.metrics import accuracy_score,classification_report

# #importing plotly and cufflinks in offline mode
# import cufflinks as cf
# import plotly.offline
# cf.go_offline()
# cf.set_config_file(offline=False, world_readable=True)


# import plotly 
# import plotly.express as px
# import plotly.graph_objs as go
# import plotly.offline as py
# from plotly.offline import iplot
# from plotly.subplots import make_subplots
# import plotly.figure_factory as ff

# import missingno as msno

# import warnings
# warnings.filterwarnings("ignore")



# import numpy as np
# import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns
# import plotly.express as px
# import scipy.stats as stats
# import pyforest
# from sklearn.preprocessing import StandardScaler, PolynomialFeatures, OneHotEncoder, StandardScaler, PowerTransformer, MinMaxScaler, RobustScaler
# from sklearn.model_selection import KFold, cross_val_predict, train_test_split, GridSearchCV, cross_val_score, cross_validate
# from sklearn.linear_model import LinearRegression, Lasso, Ridge,ElasticNet
# from sklearn.metrics import plot_confusion_matrix, r2_score, mean_absolute_error, mean_squared_error, classification_report, confusion_matrix, accuracy_score, classification_report
# from sklearn.metrics import make_scorer, precision_score, precision_recall_curve, plot_precision_recall_curve, plot_roc_curve, roc_auc_score, roc_curve, f1_score, accuracy_score, recall_score
# from sklearn.pipeline import make_pipeline
# from sklearn.compose import make_column_transformer
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.svm import SVR
# from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier, GradientBoostingRegressor, ExtraTreesRegressor, AdaBoostClassifier
# from sklearn.feature_selection import SelectKBest, SelectPercentile, f_classif, f_regression, mutual_info_regression
# from xgboost import XGBRegressor, XGBClassifier
# from xgboost import plot_importance
# from sklearn.pipeline import Pipeline
# from sklearn.tree import plot_tree
# from sklearn.impute import SimpleImputer, KNNImputer
# from sklearn.model_selection import StratifiedKFold
# from sklearn.linear_model import LogisticRegression
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
# from sklearn.naive_bayes import GaussianNB
# from sklearn.svm import SVC

# #importing plotly and cufflinks in offline mode
# import cufflinks as cf
# import plotly.offline
# cf.go_offline()
# cf.set_config_file(offline=False, world_readable=True)

# import warnings
# warnings.filterwarnings('ignore')
# warnings.warn("this will not show")
# plt.rcParams["figure.figsize"] = (10,6)
# pd.set_option('max_colwidth',200)

# # pd.set_option('display.max_rows', 100) # if you wish to see more rows rather than default, just uncomment this line.
# pd.set_option('display.max_columns', 200)
# pd.set_option('display.float_format', lambda x: '%.3f' % x)

# !pip3 install termcolor
import colorama
from colorama import Fore, Style  # maakes strings colored
from termcolor import colored

# User Defined Functions

In [117]:
## Useful Functions

###############################################################################

def first_looking(column):
    print("column name    : ", column) 
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[column].isnull().sum()/df.shape[0]*100, 2))
    print("num_of_nulls   : ", df[column].isnull().sum())
    print("num_of_uniques : ", df[column].nunique())
    print("value_counts : ", df[column].value_counts(dropna = False).head())
    
# for i in df.columns:
#     first_looking(i)

###############################################################################

def missing(df):
    missing_number = df.isnull().sum().sort_values(ascending=False)
    missing_percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_values = pd.concat([missing_number, missing_percent], axis=1, keys=['Missing_Number', 'Missing_Percent'])
    return missing_values

def missing_values(df):
    return missing(df)[missing(df)['Missing_Number']>0]

###############################################################################

def perc_nans(serial):  # Ex:perc_nans(df['kW'])
    # display percentage of nans in a Series
    return serial.isnull().sum()/serial.shape[0]*100

def perc_nans_byLimitless(df):
    return df.isnull().sum()/df.shape[0]*100

def perc_nans_byLimit(df, limit):
    missing = df.isnull().sum()*100/df.shape[0]
    return missing.loc[lambda x : x >= limit]

# perc_nans_byLimit(df, 90)

###############################################################################

def first_looking(df):
    print(colored("Shape:", attrs=['bold']), df.shape,'\n',
          f"There is ", df.shape[0], " observation and ", df.shape[1], " columns in the dataset.", '\n',
          colored('-'*79, 'red', attrs=['bold']),
          colored("\nInfo:\n", attrs=['bold']), sep='')
    print(df.info(), '\n', 
          colored('-'*79, 'red', attrs=['bold']), sep='')
    print(colored("Number of Uniques:\n", attrs=['bold']), df.nunique(),'\n',
          colored('-'*79, 'red', attrs=['bold']), sep='')
    print(colored("Missing Values:\n", attrs=['bold']), missing_values(df),'\n', 
          colored('-'*79, 'red', attrs=['bold']), sep='')
    print(colored("All Columns:", attrs=['bold']), list(df.columns),'\n', 
          colored('-'*79, 'red', attrs=['bold']), sep='')

    df.columns= df.columns.str.lower().str.replace('&', '_').str.replace(' ', '_')

    print(colored("Columns after rename:", attrs=['bold']), list(df.columns),'\n',
              colored('-'*79, 'red', attrs=['bold']), sep='')

def duplicate_values(df):
    duplicate_values = df.duplicated(subset=None, keep='first').sum()
    if duplicate_values > 0:
        df.drop_duplicates(keep='first', inplace=True)
        print(duplicate_values, colored("duplicates were dropped", attrs=['bold']),'\n',
              colored('-'*79, 'red', attrs=['bold']), sep='')
    else:
        print(colored("No duplicates", attrs=['bold']),'\n',
              colored('-'*79, 'red', attrs=['bold']), sep='')
        
def drop_columns(df, drop_columns):
    if drop_columns !=[]:
        df.drop(drop_columns, axis=1, inplace=True)
        print(drop_columns, 'were dropped')
    else:
        print(colored('We will now check the missing values and if necessary drop some columns!!!', attrs=['bold']),'\n',
              colored('-'*79, 'red', attrs=['bold']), sep='')
        
def drop_null(df, limit):
    print('Shape:', df.shape)
    for i in df.isnull().sum().index:
        if (df.isnull().sum()[i]/df.shape[0]*100)>limit:
            print(df.isnull().sum()[i], 'percent of', i ,'null and were dropped')
            df.drop(i, axis=1, inplace=True)
            print('new shape:', df.shape)
        else:
            print(df.isnull().sum()[i], '%, percentage of missing values of', i ,'less than limit', limit, '%, so we will keep it.')
    print('New shape after missing value control:', df.shape)

###############################################################################

def fill_median(df, group_col, col_name):
    '''Fills the missing values with the most existing value (median) in the relevant column according to single-stage grouping'''
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        median = list(df[cond][col_name].median())
        if median != []:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].median()[0])
        else:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].median()[0])
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))
    
###############################################################################

def fill_most(df, group_col, col_name):
    '''Fills the missing values with the most existing value (mode) in the relevant column according to single-stage grouping'''
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        mode = list(df[cond][col_name].mode())
        if mode != []:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])
        else:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))
    
###############################################################################

def fill_prop(df, group_col, col_name):
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        df.loc[cond, col_name] = df.loc[cond, col_name].fillna(method="ffill").fillna(method="bfill")
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))
    
###############################################################################

def fill(df, group_col1, group_col2, col_name, method): # method can be "mode" or "median" or "ffill"
    if method == "mode":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                mode1 = list(df[cond1][col_name].mode())
                mode2 = list(df[cond2][col_name].mode())
                if mode2 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
                elif mode1 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
                else:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])
                
    elif method == "median":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].median()).fillna(df[cond1][col_name].median()).fillna(df[col_name].median())
                
    elif method == "ffill":           
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method="ffill").fillna(method="bfill")
                
        for group1 in list(df[group_col1].unique()):
            cond1 = df[group_col1]==group1
            df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method="ffill").fillna(method="bfill")            
           
        df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))
    
###############################################################################

def train_val(y_train, y_train_pred, y_test, y_pred):
    
    scores = {"train_set": {"R2" : r2_score(y_train, y_train_pred),
    "mae" : mean_absolute_error(y_train, y_train_pred),
    "mse" : mean_squared_error(y_train, y_train_pred),                          
    "rmse" : np.sqrt(mean_squared_error(y_train, y_train_pred))},
    
    "test_set": {"R2" : r2_score(y_test, y_pred),
    "mae" : mean_absolute_error(y_test, y_pred),
    "mse" : mean_squared_error(y_test, y_pred),
    "rmse" : np.sqrt(mean_squared_error(y_test, y_pred))}}
    
    return pd.DataFrame(scores)

def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print("r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

###############################################################################

def model_validation(y_train, y_train_pred, y_test, y_test_pred, model_name):
    
    scores =  {f"{model_name}_train": {"R2" : r2_score(y_train, y_train_pred),
    "rmse" : np.sqrt(mean_squared_error(y_train, y_train_pred)),
    "mse" : mean_squared_error(y_train, y_train_pred), 
    "mae" : mean_absolute_error(y_train, y_train_pred)},
    
    f"{model_name}_test": {"R2" : r2_score(y_test, y_test_pred),
    "rmse" : np.sqrt(mean_squared_error(y_test, y_test_pred)),
    "mse" : mean_squared_error(y_test, y_test_pred),
    "mae" : mean_absolute_error(y_test, y_test_pred)}}
     
    return pd.DataFrame(scores)

# lm = model_validation(y_train, y_train_pred, y_test, y_test_pred, 'lm')

# pd.concat([lm, rs, rcvs, lss, lcvs, es, ecvs], axis = 1)

###############################################################################

def get_classification_report(y_test, y_test_pred):
    from sklearn import metrics
    report = metrics.classification_report(y_test, y_test_pred, output_dict=True)
    df_classification_report = pd.DataFrame(report).transpose()
    #df_classification_report = df_classification_report.sort_values(by=['f1-score'], ascending=False)
    return df_classification_report

###############################################################################

def shape_control():
    print('df.shape:', df.shape)
    print('X.shape:', X.shape)
    print('y.shape:', y.shape)
    print('X_train.shape:', X_train.shape)
    print('y_train.shape:', y_train.shape)
    print('X_test.shape:', X_test.shape)
    print('y_test.shape:', y_test.shape)
    try:
        print('y_test_pred.shape:', y_test_pred.shape)
    except:
        print()
        
###############################################################################

def calc_predict():
    return accuracy_score(y_test, y_test_pred), recall_score(y_test, y_test_pred, average='weighted'), f1_score(y_test, y_test_pred, average='weighted')
    
def get_report():
    from sklearn import metrics
    pd.set_option('display.float_format', lambda x: '%.3f' % x)
    y_train_pred = model.predict(X_train_scaled)
    try:
        y_train_pred_proba = model.predict_proba(X_train_scaled)
    except:
        print()
    try:
        precision, recall, _ = precision_recall_curve(y_train, y_train_pred_proba[:,1])
    except:
        print() 
    try:
        y_test_pred_proba = model.predict_proba(X_test_scaled)
    except:
        print()
    try:
        precision, recall, _ = precision_recall_curve(y_test, y_test_pred_proba[:,1])
    except:
        print()  
    print('Model:', model.get_params, '\n')
    try:
        print('model.best_params_:', model.best_params_, '\n')
    except:
        print()
    print("Train:")
    print('rmse:', np.sqrt(mean_squared_error(y_train, y_train_pred)))
    print('accuracy:', accuracy_score(y_train, y_train_pred))
    try:
        print('roc_auc_score:',roc_auc_score(y_train, y_train_pred_proba[:,1]))
    except:
        print()
    try:
        print('roc_auc_recall_precision_score:',auc(recall, precision),'\n')
    except:
        print()
    print('confusion_matrix:\n\n', confusion_matrix(y_train, y_train_pred), '\n')
    print('classification_report:\n\n', classification_report(y_train, y_train_pred),'\n')
    print()
    print("Test:")
    print('rmse:', np.sqrt(mean_squared_error(y_test, y_test_pred))) 
    print('accuracy:', accuracy_score(y_test, y_test_pred))
    try:
        print('roc_auc_score:',roc_auc_score(y_test, y_test_pred_proba[:,1]))
    except:
        print() 
    try:
        print('roc_auc_recall_precision_score:',auc(recall, precision),'\n')
    except:
        print() 
    print('confusion_matrix:\n\n', confusion_matrix(y_test, y_test_pred), '\n')
    print('classification_report:\n\n', classification_report(y_test, y_test_pred))

def train_control_table():
    y_train_pred = model.predict(X_train_scaled)
    y_train_pred = pd.DataFrame(y_train_pred)
    y_train_pred.rename(columns = {0: 'y_train_pred'}, inplace = True)
    return pd.concat([X_train, y_train, y_train_pred.set_index(y_train.index)], axis=1)

def test_control_table():
    y_test_pred = model.predict(X_test_scaled)
    y_test_pred = pd.DataFrame(y_test_pred)
    y_test_pred.rename(columns = {0: 'y_test_pred'}, inplace = True)
    return pd.concat([X_test, y_test, y_test_pred.set_index(y_test.index)], axis=1)

def get_roc_curve():
    from sklearn.metrics import plot_roc_curve, plot_precision_recall_curve
    plot_roc_curve(model, X_train_scaled, y_train);
    plot_precision_recall_curve(model, X_train_scaled, y_train);

    plot_roc_curve(model, X_test_scaled, y_test);
    plot_precision_recall_curve(model, X_test_scaled, y_test);
    
def visualizer(model):
    from yellowbrick.classifier import ClassPredictionError
    visualizer = ClassPredictionError(model)
    # Fit the training data to the visualizer
    visualizer.fit(X_train_scaled, y_train)
    # Evaluate the model on the test data
    visualizer.score(X_test_scaled, y_test)
    # Draw visualization
    visualizer.poof();
    
###############################################################################

def feature_importances():
    df_fi = pd.DataFrame(index=X.columns, 
                         data=model.feature_importances_, 
                         columns=["Feature Importance"]).sort_values("Feature Importance")

    return df_fi.sort_values(by="Feature Importance", ascending=False).T

def feature_importances_bar():
    df_fi = pd.DataFrame(index=X.columns, 
                         data=model.feature_importances_, 
                         columns=["Feature Importance"]).sort_values("Feature Importance")
    sns.barplot(data = df_fi, 
                x = df_fi.index, 
                y = 'Feature Importance', 
                order=df_fi.sort_values('Feature Importance', ascending=False).reset_index()['index'])
    plt.xticks(rotation = 90)
    plt.tight_layout()
    plt.show();
    
    
    
###############################################################################

def outlier_zscore(df, col, min_z=1, max_z = 5, step = 0.1, print_list = False):
    z_scores = stats.zscore(df[col].dropna())
    threshold_list = []
    for threshold in np.arange(min_z, max_z, step):
        threshold_list.append((threshold, len(np.where(z_scores > threshold)[0])))
        df_outlier = pd.DataFrame(threshold_list, columns = ['threshold', 'outlier_count'])
        df_outlier['pct'] = (df_outlier.outlier_count - df_outlier.outlier_count.shift(-1))/df_outlier.outlier_count*100
    plt.plot(df_outlier.threshold, df_outlier.outlier_count)
    best_treshold = round(df_outlier.iloc[df_outlier.pct.argmax(), 0],2)
    outlier_limit = int(df[col].dropna().mean() + (df[col].dropna().std()) * df_outlier.iloc[df_outlier.pct.argmax(), 0])
    percentile_threshold = stats.percentileofscore(df[col].dropna(), outlier_limit)
    plt.vlines(best_treshold, 0, df_outlier.outlier_count.max(), 
               colors="r", ls = ":"
              )
    plt.annotate("Zscore : {}\nValue : {}\nPercentile : {}".format(best_treshold, outlier_limit, 
                                                                   (np.round(percentile_threshold, 3), 
                                                                    np.round(100-percentile_threshold, 3))), 
                 (best_treshold, df_outlier.outlier_count.max()/2))
    #plt.show()
    if print_list:
        print(df_outlier)
    return (plt, df_outlier, best_treshold, outlier_limit, percentile_threshold)

def outlier_inspect(df, col, min_z=1, max_z = 5, step = 0.5, max_hist = None, bins = 50):
    fig = plt.figure(figsize=(20, 6))
    fig.suptitle(col, fontsize=16)
    plt.subplot(1,3,1)
    if max_hist == None:
        sns.distplot(df[col], kde=False, bins = 50)
    else :
        sns.distplot(df[df[col]<=max_hist][col], kde=False, bins = 50)
    plt.subplot(1,3,2)
    sns.boxplot(df[col])
    plt.subplot(1,3,3)
    z_score_inspect = outlier_zscore(df, col, min_z=min_z, max_z = max_z, step = step)
    plt.show()

###############################################################################

def plot_multiclass_roc(model, X_test_scaled, y_test, n_classes, figsize=(5,5)):
    y_score = model.decision_function(X_test_scaled)

    # structures
    fpr = dict()
    tpr = dict()
    roc_auc = dict()

    # calculate dummies once
    y_test_dummies = pd.get_dummies(y_test, drop_first=False).values
    for i in range(n_classes):
        fpr[i], tpr[i], _ = roc_curve(y_test_dummies[:, i], y_score[:, i])
        roc_auc[i] = auc(fpr[i], tpr[i])

    # roc for each class
    fig, ax = plt.subplots(figsize=figsize)
    ax.plot([0, 1], [0, 1], 'k--')
    ax.set_xlim([0.0, 1.0])
    ax.set_ylim([0.0, 1.05])
    ax.set_xlabel('False Positive Rate')
    ax.set_ylabel('True Positive Rate')
    ax.set_title('Receiver operating characteristic example')
    for i in range(n_classes):
        ax.plot(fpr[i], tpr[i], label='ROC curve (area = %0.2f) for label %i' % (roc_auc[i], i))
    ax.legend(loc="best")
    ax.grid(alpha=.4)
    sns.despine()
    plt.show()
    
    
def plot_multiclass_roc_for_tree(model, X_test_scaled, y_test, n_classes, figsize=(5,5)):
    y_score = model.predict_proba(X_test_scaled)

    # structures
    fpr = dict()
    tpr = dict()
    roc_auc = dict()

    # calculate dummies once
    y_test_dummies = pd.get_dummies(y_test, drop_first=False).values
    for i in range(n_classes):
        fpr[i], tpr[i], _ = roc_curve(y_test_dummies[:, i], y_score[:, i])
        roc_auc[i] = auc(fpr[i], tpr[i])

    # roc for each class
    fig, ax = plt.subplots(figsize=figsize)
    ax.plot([0, 1], [0, 1], 'k--')
    ax.set_xlim([0.0, 1.0])
    ax.set_ylim([0.0, 1.05])
    ax.set_xlabel('False Positive Rate')
    ax.set_ylabel('True Positive Rate')
    ax.set_title('Receiver operating characteristic example')
    for i in range(n_classes):
        ax.plot(fpr[i], tpr[i], label='ROC curve (area = %0.2f) for label %i' % (roc_auc[i], i))
    ax.legend(loc="best")
    ax.grid(alpha=.4)
    sns.despine()
    plt.show()

# EDA

In [118]:
# 2-Load|Read Data
dataset_path = "World military power.xlsx"
df0 = pd.read_excel(dataset_path, header=1)
# df0 = pd.read_csv(dataset_path)
df = df0.copy() 
first_looking(df)
duplicate_values(df)
drop_columns(df,[])
drop_null(df, 90)
# df.head()
# df.tail()
# df.sample(5)
# df.describe().T
# df.describe(include=object).T

Shape:(138, 60)
There is 138 observation and 60 columns in the dataset.
-------------------------------------------------------------------------------
Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 60 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Military Strength                        138 non-null    object
 1   Military Strength Power Index            138 non-null    float64
 2   Aircraft Strength                        138 non-null    object
 3   Aircraft Strength value                  138 non-null    int64
 4   Fighter/Interceptor Strength             138 non-null    object
 5   Fighter/Interceptor Strength value       138 non-null    int64
 6   Attack Aircraft Strength                 138 non-null    object
 7   Attack Aircraft Strength value           138 non-null    int64
 8   Transport Aircraft Fleet Strength        138 non-null    object
 9   Transport Aircraft Fleet Strength value  138 non-null    int64
 10  Trainer Aircraft Fleet                   138 non-null    object
 11  Trainer Aircraft Fleet value             138 non-null    int64
 12  Helicopter Fleet Strength                138 non-null    object
 13  Helicopter Fleet Strength value          138 non-null    int64
 14  Attack Helicopter Fleet Strength         138 non-null    object
 15  Attack Helicopter Fleet Strength value   138 non-null    int64
 16  Tank Strength                            138 non-null    object
 17  Tank Strength value                      138 non-null    int64
 18  AFV/APC Strength                         138 non-null    object
 19  AFV/APC Strength value                   138 non-null    int64
 20  Self-Propelled Artillery Strength        138 non-null    object
 21  Self-Propelled Artillery Strength value  138 non-null    int64
 22  Towed Artillery Strength                 138 non-null    object
 23  Towed Artillery Strength value           138 non-null    int64
 24  Rocket Projector Strength                138 non-null    object
 25  Rocket Projector Strength value          138 non-null    int64
 26  Navy Fleet Strengths                     124 non-null    object
 27  Navy Fleet Strengths value               124 non-null    float64
 28  Aircraft Carrier Fleet Strength          115 non-null    object
 29  Aircraft Carrier Fleet Strength value    115 non-null    float64
 30  Submarine Fleet Strength                 115 non-null    object
 31  Submarine Fleet Strength value           115 non-null    float64
 32  Destroyer Fleet Strength                 115 non-null    object
 33  Destroyer Fleet Strength value           115 non-null    float64
 34  Frigate Fleet Strength                   115 non-null    object
 35  Frigate Fleet Strength value             115 non-null    float64
 36  defense spending budget                  138 non-null    object
 37  defense spending budget value            138 non-null    object
 38  External Debt                            138 non-null    object
 39  External Debt value                      138 non-null    object
 40  Airport Totals                           138 non-null    object
 41  Airport Totals value                     138 non-null    int64
 42  Oil Production                           138 non-null    object
 43  Oil Production value                     138 non-null    object
 44  Oil Consumption                          138 non-null    object
 45  Oil Consumption value                    138 non-null    object
 46  Proven Oil Reserves                      138 non-null    object
 47  Proven Oil Reserves value                138 non-null    object
 48  Available Manpower                       138 non-null    object
 49  Available Manpower value                 138 non-null    object
 50  Total Population                         138 non-null    object
 51  Total Population value                   138 non-null    object
 52  Total Square Land Area                   138 non-null    object
 53  Total Square Land Area value             138 non-null    object
 54  Total Coastline Coverage                 109 non-null    object
 55  Total Coastline Coverage value           109 non-null    object
 56  Total Waterway Coverage                  138 non-null    object
 57  Total Waterway Coverage value            138 non-null    object
 58  Total Border Coverage                    129 non-null    object
 59  Total Border Coverage value              129 non-null    float64
dtypes: float64(7), int64(13), object(40)
memory usage: 64.8+ KB
None
-------------------------------------------------------------------------------
Number of Uniques:
Military Strength                          138
Military Strength Power Index              138
Aircraft Strength                          138
Aircraft Strength value                    113
Fighter/Interceptor Strength               138
Fighter/Interceptor Strength value          63
Attack Aircraft Strength                   138
Attack Aircraft Strength value              38
Transport Aircraft Fleet Strength          138
Transport Aircraft Fleet Strength value     49
Trainer Aircraft Fleet                     138
Trainer Aircraft Fleet value                77
Helicopter Fleet Strength                  138
Helicopter Fleet Strength value             97
Attack Helicopter Fleet Strength           138
Attack Helicopter Fleet Strength value      45
Tank Strength                              138
Tank Strength value                        106
AFV/APC Strength                           138
AFV/APC Strength value                     130
Self-Propelled Artillery Strength          138
Self-Propelled Artillery Strength value     70
Towed Artillery Strength                   138
Towed Artillery Strength value              91
Rocket Projector Strength                  138
Rocket Projector Strength value             68
Navy Fleet Strengths                       124
Navy Fleet Strengths value                  78
Aircraft Carrier Fleet Strength            115
Aircraft Carrier Fleet Strength value        5
Submarine Fleet Strength                   115
Submarine Fleet Strength value              20
Destroyer Fleet Strength                   115
Destroyer Fleet Strength value              11
Frigate Fleet Strength                     115
Frigate Fleet Strength value                18
defense spending budget                    138
defense spending budget value              124
External Debt                              138
External Debt value                        138
Airport Totals                             138
Airport Totals value                       108
Oil Production                             138
Oil Production value                        88
Oil Consumption                            138
Oil Consumption value                      102
Proven Oil Reserves                        138
Proven Oil Reserves value                   84
Available Manpower                         138
Available Manpower value                   138
Total Population                           138
Total Population value                     138
Total Square Land Area                     138
Total Square Land Area value               138
Total Coastline Coverage                   109
Total Coastline Coverage value             104
Total Waterway Coverage                    138
Total Waterway Coverage value               92
Total Border Coverage                      129
Total Border Coverage value                125
dtype: int64
-------------------------------------------------------------------------------
Missing Values:
                                       Missing_Number  Missing_Percent
Total Coastline Coverage value                     29            0.210
Total Coastline Coverage                           29            0.210
Submarine Fleet Strength                           23            0.167
Frigate Fleet Strength value                       23            0.167
Frigate Fleet Strength                             23            0.167
Destroyer Fleet Strength value                     23            0.167
Destroyer Fleet Strength                           23            0.167
Submarine Fleet Strength value                     23            0.167
Aircraft Carrier Fleet Strength value              23            0.167
Aircraft Carrier Fleet Strength                    23            0.167
Navy Fleet Strengths                               14            0.101
Navy Fleet Strengths value                         14            0.101
Total Border Coverage                               9            0.065
Total Border Coverage value                         9            0.065
-------------------------------------------------------------------------------
All Columns:['Military Strength', 'Military Strength Power Index', 'Aircraft Strength', 'Aircraft Strength value', 'Fighter/Interceptor Strength', 'Fighter/Interceptor Strength value', 'Attack Aircraft Strength', 'Attack Aircraft Strength value', 'Transport Aircraft Fleet Strength', 'Transport Aircraft Fleet Strength value', 'Trainer Aircraft Fleet', 'Trainer Aircraft Fleet value', 'Helicopter Fleet Strength', 'Helicopter Fleet Strength value', 'Attack Helicopter Fleet Strength', 'Attack Helicopter Fleet Strength value', 'Tank Strength', 'Tank Strength value', 'AFV/APC Strength', 'AFV/APC Strength value', 'Self-Propelled Artillery Strength', 'Self-Propelled Artillery Strength value', 'Towed Artillery Strength', 'Towed Artillery Strength value', 'Rocket Projector Strength', 'Rocket Projector Strength value', 'Navy Fleet Strengths', 'Navy Fleet Strengths value', 'Aircraft Carrier Fleet Strength', 'Aircraft Carrier Fleet Strength value', 'Submarine Fleet Strength', 'Submarine Fleet Strength value', 'Destroyer Fleet Strength', 'Destroyer Fleet Strength value', 'Frigate Fleet Strength', 'Frigate Fleet Strength value', 'defense spending budget', 'defense spending budget value', 'External Debt', 'External Debt value', 'Airport Totals', 'Airport Totals value', 'Oil Production', 'Oil Production value', 'Oil Consumption', 'Oil Consumption value', 'Proven Oil Reserves', 'Proven Oil Reserves value', 'Available Manpower', 'Available Manpower value', 'Total Population', 'Total Population value', 'Total Square Land Area', 'Total Square Land Area value', 'Total Coastline Coverage', 'Total Coastline Coverage value', 'Total Waterway Coverage', 'Total Waterway Coverage value', 'Total Border Coverage', 'Total Border Coverage value']
-------------------------------------------------------------------------------
Columns after rename:['military_strength', 'military_strength_power_index', 'aircraft_strength', 'aircraft_strength_value', 'fighter/interceptor_strength', 'fighter/interceptor_strength_value', 'attack_aircraft_strength', 'attack_aircraft_strength_value', 'transport_aircraft_fleet_strength', 'transport_aircraft_fleet_strength_value', 'trainer_aircraft_fleet', 'trainer_aircraft_fleet_value', 'helicopter_fleet_strength', 'helicopter_fleet_strength_value', 'attack_helicopter_fleet_strength', 'attack_helicopter_fleet_strength_value', 'tank_strength', 'tank_strength_value', 'afv/apc_strength', 'afv/apc_strength_value', 'self-propelled_artillery_strength', 'self-propelled_artillery_strength_value', 'towed_artillery_strength', 'towed_artillery_strength_value', 'rocket_projector_strength', 'rocket_projector_strength_value', 'navy_fleet_strengths', 'navy_fleet_strengths_value', 'aircraft_carrier_fleet_strength', 'aircraft_carrier_fleet_strength_value', 'submarine_fleet_strength', 'submarine_fleet_strength_value', 'destroyer_fleet_strength', 'destroyer_fleet_strength_value', 'frigate_fleet_strength', 'frigate_fleet_strength_value', 'defense_spending_budget', 'defense_spending_budget_value', 'external_debt', 'external_debt_value', 'airport_totals', 'airport_totals_value', 'oil_production', 'oil_production_value', 'oil_consumption', 'oil_consumption_value', 'proven_oil_reserves', 'proven_oil_reserves_value', 'available_manpower', 'available_manpower_value', 'total_population', 'total_population_value', 'total_square_land_area', 'total_square_land_area_value', 'total_coastline_coverage', 'total_coastline_coverage_value', 'total_waterway_coverage', 'total_waterway_coverage_value', 'total_border_coverage', 'total_border_coverage_value']
-------------------------------------------------------------------------------
No duplicates
-------------------------------------------------------------------------------
We will now check the missing values and if necessary drop some columns!!!
-------------------------------------------------------------------------------
Shape: (138, 60)
0 %, percentage of missing values of military_strength less than limit 90 %, so we will keep it.

0 %, percentage of missing values of military_strength_power_index less than limit 90 %, so we will keep it.
0 %, percentage of missing values of aircraft_strength less than limit 90 %, so we will keep it.
0 %, percentage of missing values of aircraft_strength_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of fighter/interceptor_strength less than limit 90 %, so we will keep it.
0 %, percentage of missing values of fighter/interceptor_strength_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of attack_aircraft_strength less than limit 90 %, so we will keep it.
0 %, percentage of missing values of attack_aircraft_strength_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of transport_aircraft_fleet_strength less than limit 90 %, so we will keep it.
0 %, percentage of missing values of transport_aircraft_fleet_strength_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of trainer_aircraft_fleet less than limit 90 %, so we will keep it.
0 %, percentage of missing values of trainer_aircraft_fleet_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of helicopter_fleet_strength less than limit 90 %, so we will keep it.
0 %, percentage of missing values of helicopter_fleet_strength_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of attack_helicopter_fleet_strength less than limit 90 %, so we will keep it.
0 %, percentage of missing values of attack_helicopter_fleet_strength_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of tank_strength less than limit 90 %, so we will keep it.
0 %, percentage of missing values of tank_strength_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of afv/apc_strength less than limit 90 %, so we will keep it.
0 %, percentage of missing values of afv/apc_strength_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of self-propelled_artillery_strength less than limit 90 %, so we will keep it.
0 %, percentage of missing values of self-propelled_artillery_strength_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of towed_artillery_strength less than limit 90 %, so we will keep it.
0 %, percentage of missing values of towed_artillery_strength_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of rocket_projector_strength less than limit 90 %, so we will keep it.
0 %, percentage of missing values of rocket_projector_strength_value less than limit 90 %, so we will keep it.
14 %, percentage of missing values of navy_fleet_strengths less than limit 90 %, so we will keep it.
14 %, percentage of missing values of navy_fleet_strengths_value less than limit 90 %, so we will keep it.
23 %, percentage of missing values of aircraft_carrier_fleet_strength less than limit 90 %, so we will keep it.
23 %, percentage of missing values of aircraft_carrier_fleet_strength_value less than limit 90 %, so we will keep it.
23 %, percentage of missing values of submarine_fleet_strength less than limit 90 %, so we will keep it.
23 %, percentage of missing values of submarine_fleet_strength_value less than limit 90 %, so we will keep it.
23 %, percentage of missing values of destroyer_fleet_strength less than limit 90 %, so we will keep it.
23 %, percentage of missing values of destroyer_fleet_strength_value less than limit 90 %, so we will keep it.
23 %, percentage of missing values of frigate_fleet_strength less than limit 90 %, so we will keep it.
23 %, percentage of missing values of frigate_fleet_strength_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of defense_spending_budget less than limit 90 %, so we will keep it.
0 %, percentage of missing values of defense_spending_budget_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of external_debt less than limit 90 %, so we will keep it.
0 %, percentage of missing values of external_debt_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of airport_totals less than limit 90 %, so we will keep it.
0 %, percentage of missing values of airport_totals_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of oil_production less than limit 90 %, so we will keep it.
0 %, percentage of missing values of oil_production_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of oil_consumption less than limit 90 %, so we will keep it.
0 %, percentage of missing values of oil_consumption_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of proven_oil_reserves less than limit 90 %, so we will keep it.
0 %, percentage of missing values of proven_oil_reserves_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of available_manpower less than limit 90 %, so we will keep it.
0 %, percentage of missing values of available_manpower_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of total_population less than limit 90 %, so we will keep it.
0 %, percentage of missing values of total_population_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of total_square_land_area less than limit 90 %, so we will keep it.
0 %, percentage of missing values of total_square_land_area_value less than limit 90 %, so we will keep it.
29 %, percentage of missing values of total_coastline_coverage less than limit 90 %, so we will keep it.
29 %, percentage of missing values of total_coastline_coverage_value less than limit 90 %, so we will keep it.
0 %, percentage of missing values of total_waterway_coverage less than limit 90 %, so we will keep it.
0 %, percentage of missing values of total_waterway_coverage_value less than limit 90 %, so we will keep it.
9 %, percentage of missing values of total_border_coverage less than limit 90 %, so we will keep it.
9 %, percentage of missing values of total_border_coverage_value less than limit 90 %, so we will keep it.
New shape after missing value control: (138, 60)

In [119]:
df.head()

,military_strength,military_strength_power_index,aircraft_strength,aircraft_strength_value,fighter/interceptor_strength,fighter/interceptor_strength_value,attack_aircraft_strength,attack_aircraft_strength_value,transport_aircraft_fleet_strength,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet,trainer_aircraft_fleet_value,helicopter_fleet_strength,helicopter_fleet_strength_value,attack_helicopter_fleet_strength,attack_helicopter_fleet_strength_value,tank_strength,tank_strength_value,afv/apc_strength,afv/apc_strength_value,self-propelled_artillery_strength,self-propelled_artillery_strength_value,towed_artillery_strength,towed_artillery_strength_value,rocket_projector_strength,rocket_projector_strength_value,navy_fleet_strengths,navy_fleet_strengths_value,aircraft_carrier_fleet_strength,aircraft_carrier_fleet_strength_value,submarine_fleet_strength,submarine_fleet_strength_value,destroyer_fleet_strength,destroyer_fleet_strength_value,frigate_fleet_strength,frigate_fleet_strength_value,defense_spending_budget,defense_spending_budget_value,external_debt,external_debt_value,airport_totals,airport_totals_value,oil_production,oil_production_value,oil_consumption,oil_consumption_value,proven_oil_reserves,proven_oil_reserves_value,available_manpower,available_manpower_value,total_population,total_population_value,total_square_land_area,total_square_land_area_value,total_coastline_coverage,total_coastline_coverage_value,total_waterway_coverage,total_waterway_coverage_value,total_border_coverage,total_border_coverage_value
0,Afghanistan,1.344,Afghanistan,260,Afghanistan,0,Afghanistan,25,Afghanistan,30,Afghanistan,0,Afghanistan,187,Afghanistan,0,Afghanistan,0,Afghanistan,1062,Afghanistan,0,Afghanistan,176,Afghanistan,50,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,0.000,Afghanistan,"12,00,00,00,000",Afghanistan,"2,84,00,00,000",Afghanistan,43,Afghanistan,0,Afghanistan,5500,Afghanistan,0,Afghanistan,"1,43,25,743",Afghanistan,"3,49,40,837",Afghanistan,"6,52,230",Afghanistan,0,Afghanistan,1200,Afghanistan,5987.000
1,Albania,2.314,Albania,19,Albania,0,Albania,0,Albania,0,Albania,0,Albania,19,Albania,0,Albania,0,Albania,467,Albania,0,Albania,0,Albania,0,Albania,38.000,Albania,0.000,Albania,0.000,Albania,0.000,Albania,0.000,Albania,"25,00,00,000",Albania,"9,50,50,00,000",Albania,4,Albania,16000,Albania,42500,Albania,"16,83,00,000",Albania,"15,19,438",Albania,"30,57,220",Albania,28748,Albania,362,Albania,41,Albania,691.000
2,Algeria,0.466,Algeria,551,Algeria,103,Algeria,22,Algeria,59,Algeria,87,Algeria,257,Algeria,45,Algeria,880,Algeria,7361,Algeria,320,Algeria,240,Algeria,316,Algeria,201.000,Algeria,0.000,Algeria,6.000,Algeria,0.000,Algeria,5.000,Algeria,"13,00,00,00,000",Algeria,"6,26,00,00,000",Algeria,157,Algeria,"13,06,000",Algeria,"3,25,000",Algeria,"12,20,00,00,000",Algeria,"2,07,41,263",Algeria,"4,16,57,488",Algeria,"23,81,741",Algeria,998,Algeria,0,Algeria,6734.000
3,Angola,0.838,Angola,295,Angola,72,Angola,18,Angola,30,Angola,47,Angola,126,Angola,15,Angola,379,Angola,595,Angola,28,Angola,357,Angola,115,Angola,57.000,Angola,0.000,Angola,0.000,Angola,0.000,Angola,0.000,Angola,"7,00,00,00,000",Angola,"42,08,00,00,000",Angola,176,Angola,"16,66,000",Angola,82300,Angola,"8,27,30,00,000",Angola,"62,44,205",Angola,"3,03,55,880",Angola,"12,46,700",Angola,1600,Angola,1300,Angola,5369.000
4,Argentina,0.652,Argentina,227,Argentina,24,Argentina,7,Argentina,9,Argentina,64,Argentina,100,Argentina,0,Argentina,370,Argentina,739,Argentina,83,Argentina,172,Argentina,26,Argentina,49.000,Argentina,0.000,Argentina,2.000,Argentina,4.000,Argentina,0.000,Argentina,"4,20,00,00,000",Argentina,"2,14,90,00,00,000",Argentina,1138,Argentina,"4,79,400",Argentina,"6,85,000",Argentina,"2,18,50,00,000",Argentina,"2,01,79,430",Argentina,"4,46,94,198",Argentina,"27,80,400",Argentina,4989,Argentina,11000,Argentina,11968.000

In [120]:
df.tail()

,military_strength,military_strength_power_index,aircraft_strength,aircraft_strength_value,fighter/interceptor_strength,fighter/interceptor_strength_value,attack_aircraft_strength,attack_aircraft_strength_value,transport_aircraft_fleet_strength,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet,trainer_aircraft_fleet_value,helicopter_fleet_strength,helicopter_fleet_strength_value,attack_helicopter_fleet_strength,attack_helicopter_fleet_strength_value,tank_strength,tank_strength_value,afv/apc_strength,afv/apc_strength_value,self-propelled_artillery_strength,self-propelled_artillery_strength_value,towed_artillery_strength,towed_artillery_strength_value,rocket_projector_strength,rocket_projector_strength_value,navy_fleet_strengths,navy_fleet_strengths_value,aircraft_carrier_fleet_strength,aircraft_carrier_fleet_strength_value,submarine_fleet_strength,submarine_fleet_strength_value,destroyer_fleet_strength,destroyer_fleet_strength_value,frigate_fleet_strength,frigate_fleet_strength_value,defense_spending_budget,defense_spending_budget_value,external_debt,external_debt_value,airport_totals,airport_totals_value,oil_production,oil_production_value,oil_consumption,oil_consumption_value,proven_oil_reserves,proven_oil_reserves_value,available_manpower,available_manpower_value,total_population,total_population_value,total_square_land_area,total_square_land_area_value,total_coastline_coverage,total_coastline_coverage_value,total_waterway_coverage,total_waterway_coverage_value,total_border_coverage,total_border_coverage_value
133,Venezuela,0.645,Venezuela,260,Venezuela,38,Venezuela,0,Venezuela,52,Venezuela,82,Venezuela,86,Venezuela,10,Venezuela,390,Venezuela,600,Venezuela,73,Venezuela,104,Venezuela,36,Venezuela,49.000,Venezuela,0.000,Venezuela,2.000,Venezuela,0.000,Venezuela,4.000,Venezuela,"74,50,00,000",Venezuela,"1,00,30,00,00,000",Venezuela,444,Venezuela,"20,07,000",Venezuela,"5,75,000",Venezuela,"3,00,90,00,00,000",Venezuela,"1,42,60,129",Venezuela,"3,16,89,176",Venezuela,"9,12,050",Venezuela,2800,Venezuela,7100,Venezuela,5267.000
134,Vietnam,0.356,Vietnam,293,Vietnam,77,Vietnam,0,Vietnam,38,Vietnam,36,Vietnam,138,Vietnam,25,Vietnam,2615,Vietnam,2530,Vietnam,70,Vietnam,1000,Vietnam,85,Vietnam,65.000,Vietnam,0.000,Vietnam,6.000,Vietnam,0.000,Vietnam,9.000,Vietnam,"5,50,00,00,000",Vietnam,"96,58,00,00,000",Vietnam,45,Vietnam,"2,71,400",Vietnam,"5,25,000",Vietnam,"4,40,00,00,000",Vietnam,"5,10,43,216",Vietnam,"9,70,40,334",Vietnam,"3,31,210",Vietnam,3444,Vietnam,17702,Vietnam,4616.000
135,Yemen,1.241,Yemen,169,Yemen,77,Yemen,0,Yemen,8,Yemen,21,Yemen,61,Yemen,14,Yemen,620,Yemen,615,Yemen,20,Yemen,85,Yemen,150,Yemen,30.000,Yemen,0.000,Yemen,0.000,Yemen,0.000,Yemen,0.000,Yemen,"1,40,00,00,000",Yemen,"7,06,80,00,000",Yemen,57,Yemen,12260,Yemen,"1,45,000",Yemen,"3,00,00,00,000",Yemen,"1,12,66,221",Yemen,"2,86,67,230",Yemen,"5,27,968",Yemen,1906,Yemen,0,Yemen,1601.000
136,Zambia,1.646,Zambia,108,Zambia,18,Zambia,0,Zambia,11,Zambia,52,Zambia,27,Zambia,0,Zambia,75,Zambia,184,Zambia,0,Zambia,42,Zambia,50,Zambia,0.000,Zambia,0.000,Zambia,0.000,Zambia,0.000,Zambia,0.000,Zambia,"4,00,00,000",Zambia,"11,66,00,00,000",Zambia,88,Zambia,0,Zambia,21000,Zambia,0,Zambia,"61,66,905",Zambia,"1,64,45,079",Zambia,"7,52,618",NaN,NaN,Zambia,2250,Zambia,6043.000
137,Zimbabwe,1.758,Zimbabwe,90,Zimbabwe,10,Zimbabwe,0,Zimbabwe,14,Zimbabwe,38,Zimbabwe,28,Zimbabwe,6,Zimbabwe,42,Zimbabwe,300,Zimbabwe,0,Zimbabwe,65,Zimbabwe,22,Zimbabwe,0.000,Zimbabwe,0.000,Zimbabwe,0.000,Zimbabwe,0.000,Zimbabwe,0.000,Zimbabwe,"10,00,00,000",Zimbabwe,"9,35,70,00,000",Zimbabwe,196,Zimbabwe,0,Zimbabwe,19500,Zimbabwe,0,Zimbabwe,"55,84,086",Zimbabwe,"1,40,30,368",Zimbabwe,"3,90,757",NaN,NaN,Zimbabwe,0,Zimbabwe,3229.000

In [121]:
df.sample(5)

,military_strength,military_strength_power_index,aircraft_strength,aircraft_strength_value,fighter/interceptor_strength,fighter/interceptor_strength_value,attack_aircraft_strength,attack_aircraft_strength_value,transport_aircraft_fleet_strength,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet,trainer_aircraft_fleet_value,helicopter_fleet_strength,helicopter_fleet_strength_value,attack_helicopter_fleet_strength,attack_helicopter_fleet_strength_value,tank_strength,tank_strength_value,afv/apc_strength,afv/apc_strength_value,self-propelled_artillery_strength,self-propelled_artillery_strength_value,towed_artillery_strength,towed_artillery_strength_value,rocket_projector_strength,rocket_projector_strength_value,navy_fleet_strengths,navy_fleet_strengths_value,aircraft_carrier_fleet_strength,aircraft_carrier_fleet_strength_value,submarine_fleet_strength,submarine_fleet_strength_value,destroyer_fleet_strength,destroyer_fleet_strength_value,frigate_fleet_strength,frigate_fleet_strength_value,defense_spending_budget,defense_spending_budget_value,external_debt,external_debt_value,airport_totals,airport_totals_value,oil_production,oil_production_value,oil_consumption,oil_consumption_value,proven_oil_reserves,proven_oil_reserves_value,available_manpower,available_manpower_value,total_population,total_population_value,total_square_land_area,total_square_land_area_value,total_coastline_coverage,total_coastline_coverage_value,total_waterway_coverage,total_waterway_coverage_value,total_border_coverage,total_border_coverage_value
21,Cameroon,1.990,Cameroon,29,Cameroon,0,Cameroon,0,Cameroon,6,Cameroon,6,Cameroon,15,Cameroon,0,Cameroon,0,Cameroon,222,Cameroon,8,Cameroon,61,Cameroon,20,Cameroon,64.000,Cameroon,0.000,Cameroon,0.000,Cameroon,0.000,Cameroon,0.000,Cameroon,"34,70,00,000",Cameroon,"9,37,50,00,000",Cameroon,33,Cameroon,75720,Cameroon,32500,Cameroon,"20,00,00,000",Cameroon,"94,87,157",Cameroon,"2,56,40,965",Cameroon,"4,75,440",Cameroon,400,Cameroon,0,Cameroon,5018.000
51,Iran,0.219,Iran,509,Iran,155,Iran,23,Iran,62,Iran,94,Iran,100,Iran,12,Iran,2056,Iran,4300,Iran,570,Iran,2088,Iran,1935,Iran,398.000,Iran,0.000,Iran,34.000,Iran,0.000,Iran,7.000,Iran,"19,60,00,00,000",Iran,"7,99,50,00,000",Iran,319,Iran,"44,69,000",Iran,"20,00,000",Iran,"1,58,40,00,00,000",Iran,"4,73,24,105",Iran,"8,30,24,745",Iran,"16,48,195",Iran,2440,Iran,850,Iran,5894.000
15,Bosnia and Herzegovina,3.859,Bosnia and Herzegovina,19,Bosnia and Herzegovina,0,Bosnia and Herzegovina,0,Bosnia and Herzegovina,0,Bosnia and Herzegovina,0,Bosnia and Herzegovina,19,Bosnia and Herzegovina,0,Bosnia and Herzegovina,320,Bosnia and Herzegovina,332,Bosnia and Herzegovina,24,Bosnia and Herzegovina,837,Bosnia and Herzegovina,143,Bosnia and Herzegovina,0.000,Bosnia and Herzegovina,0.000,Bosnia and Herzegovina,0.000,Bosnia and Herzegovina,0.000,Bosnia and Herzegovina,0.000,Bosnia and Herzegovina,"16,50,00,000",Bosnia and Herzegovina,"10,87,00,00,000",Bosnia and Herzegovina,24,Bosnia and Herzegovina,0,Bosnia and Herzegovina,32500,Bosnia and Herzegovina,0,Bosnia and Herzegovina,"23,94,632",Bosnia and Herzegovina,"38,49,891",Bosnia and Herzegovina,51197,Bosnia and Herzegovina,20,Bosnia and Herzegovina,0,Bosnia and Herzegovina,1543.000
58,Jordan,1.144,Jordan,278,Jordan,44,Jordan,4,Jordan,16,Jordan,75,Jordan,146,Jordan,47,Jordan,1313,Jordan,2897,Jordan,461,Jordan,72,Jordan,88,Jordan,37.000,Jordan,0.000,Jordan,0.000,Jordan,0.000,Jordan,0.000,Jordan,"2,60,00,00,000",Jordan,"29,34,00,00,000",Jordan,18,Jordan,22,Jordan,"1,10,000",Jordan,"10,00,000",Jordan,"33,46,692",Jordan,"1,04,58,413",Jordan,89342,Jordan,26,Jordan,540,Jordan,1744.000
24,Chad,1.638,Chad,35,Chad,0,Chad,6,Chad,6,Chad,4,Chad,17,Chad,3,Chad,60,Chad,372,Chad,10,Chad,51,Chad,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chad,"20,00,00,000",Chad,"1,72,40,00,000",Chad,59,Chad,"1,28,000",Chad,"1,00,000",Chad,"1,50,00,00,000",Chad,"60,30,834",Chad,"1,58,33,116",Chad,"12,84,000",NaN,NaN,Chad,0,Chad,6406.000

In [122]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
military_strength_power_index,138.000,1.461,1.324,0.061,0.575,1.034,2.022,10.168
aircraft_strength_value,138.000,388.471,1231.982,0.000,33.000,111.000,290.250,13264.000
fighter/interceptor_strength_value,138.000,81.565,230.325,0.000,0.000,17.000,60.500,2085.000
attack_aircraft_strength_value,138.000,25.761,94.528,0.000,0.000,0.000,15.750,742.000
transport_aircraft_fleet_strength_value,138.000,30.232,92.330,0.000,3.000,9.000,26.000,945.000
trainer_aircraft_fleet_value,138.000,82.833,240.804,0.000,4.250,26.000,79.250,2643.000
helicopter_fleet_strength_value,138.000,154.065,520.184,0.000,15.250,44.000,126.750,5768.000
attack_helicopter_fleet_strength_value,138.000,25.623,97.326,0.000,0.000,2.000,17.750,967.000
tank_strength_value,138.000,646.565,1515.464,0.000,19.250,153.000,436.250,12950.000
afv/apc_strength_value,138.000,2485.696,5410.546,0.000,250.250,734.500,2000.000,39253.000
self-propelled_artillery_strength_value,138.000,212.159,688.029,0.000,0.000,23.000,97.250,6083.000
towed_artillery_strength_value,138.000,393.978,805.782,0.000,24.250,108.000,296.500,4465.000
rocket_projector_strength_value,138.000,156.935,484.381,0.000,0.000,24.000,99.750,3860.000
navy_fleet_strengths_value,124.000,84.984,146.114,0.000,10.000,38.000,77.750,984.000
aircraft_carrier_fleet_strength_value,115.000,0.383,1.972,0.000,0.000,0.000,0.000,20.000
submarine_fleet_strength_value,115.000,4.800,13.707,0.000,0.000,0.000,4.000,83.000
destroyer_fleet_strength_value,115.000,2.052,10.001,0.000,0.000,0.000,0.000,91.000
frigate_fleet_strength_value,115.000,3.522,6.481,0.000,0.000,0.000,5.500,52.000
airport_totals_value,138.000,290.043,1212.967,2.000,33.500,68.000,150.750,13513.000
total_border_coverage_value,129.000,3964.225,3760.100,29.000,1587.000,2816.000,5267.000,22457.000

In [123]:
df.describe(include=object).T

                                  count unique                top freq
military_strength                   138    138         Mauritania    1
aircraft_strength                   138    138         Mauritania    1
fighter/interceptor_strength        138    138         Mauritania    1
attack_aircraft_strength            138    138         Mauritania    1
transport_aircraft_fleet_strength   138    138         Mauritania    1
trainer_aircraft_fleet              138    138         Mauritania    1
helicopter_fleet_strength           138    138         Mauritania    1
attack_helicopter_fleet_strength    138    138         Mauritania    1
tank_strength                       138    138         Mauritania    1
afv/apc_strength                    138    138         Mauritania    1
self-propelled_artillery_strength   138    138         Mauritania    1
towed_artillery_strength            138    138         Mauritania    1
rocket_projector_strength           138    138         Mauritania    1
navy_fleet_strengths                124    124         Mauritania    1
aircraft_carrier_fleet_strength     115    115         Mauritania    1
submarine_fleet_strength            115    115         Mauritania    1
destroyer_fleet_strength            115    115         Mauritania    1
frigate_fleet_strength              115    115         Mauritania    1
defense_spending_budget             138    138         Mauritania    1
defense_spending_budget_value       138    124     2,50,00,00,000    3
external_debt                       138    138         Mauritania    1
external_debt_value                 138    138  4,45,80,00,00,000    1
airport_totals                      138    138         Mauritania    1
oil_production                      138    138         Mauritania    1
oil_production_value                138     88                  0   46
oil_consumption                     138    138         Mauritania    1
oil_consumption_value               138    102              18500    4
proven_oil_reserves                 138    138         Mauritania    1
proven_oil_reserves_value           138     84                  0   46
available_manpower                  138    138         Mauritania    1
available_manpower_value            138    138        4,29,46,553    1
total_population                    138    138         Mauritania    1
total_population_value              138    138        4,83,97,527    1
total_square_land_area              138    138         Mauritania    1
total_square_land_area_value        138    138          12,84,000    1
total_coastline_coverage            109    109         Mauritania    1
total_coastline_coverage_value      109    104                193    2
total_waterway_coverage             138    138         Mauritania    1
total_waterway_coverage_value       138     92                  0   38
total_border_coverage               129    129         Mauritania    1

In [124]:
# to find how many unique values object features have
for col in df.select_dtypes(include=[np.number]).columns:
  print(f"{col} has {df[col].nunique()} unique value")

military_strength_power_index has 138 unique value
aircraft_strength_value has 113 unique value
fighter/interceptor_strength_value has 63 unique value
attack_aircraft_strength_value has 38 unique value
transport_aircraft_fleet_strength_value has 49 unique value
trainer_aircraft_fleet_value has 77 unique value
helicopter_fleet_strength_value has 97 unique value
attack_helicopter_fleet_strength_value has 45 unique value
tank_strength_value has 106 unique value
afv/apc_strength_value has 130 unique value
self-propelled_artillery_strength_value has 70 unique value
towed_artillery_strength_value has 91 unique value
rocket_projector_strength_value has 68 unique value
navy_fleet_strengths_value has 78 unique value
aircraft_carrier_fleet_strength_value has 5 unique value
submarine_fleet_strength_value has 20 unique value
destroyer_fleet_strength_value has 11 unique value
frigate_fleet_strength_value has 18 unique value
airport_totals_value has 108 unique value
total_border_coverage_value has 125 unique value

In [125]:
df.shape

(138, 60)

In [126]:
df = df.T.drop_duplicates().T
df.head()

,military_strength,military_strength_power_index,aircraft_strength_value,fighter/interceptor_strength_value,attack_aircraft_strength_value,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet_value,helicopter_fleet_strength_value,attack_helicopter_fleet_strength_value,tank_strength_value,afv/apc_strength_value,self-propelled_artillery_strength_value,towed_artillery_strength_value,rocket_projector_strength_value,navy_fleet_strengths,navy_fleet_strengths_value,aircraft_carrier_fleet_strength,aircraft_carrier_fleet_strength_value,submarine_fleet_strength_value,destroyer_fleet_strength_value,frigate_fleet_strength_value,defense_spending_budget_value,external_debt_value,airport_totals_value,oil_production_value,oil_consumption_value,proven_oil_reserves_value,available_manpower_value,total_population_value,total_square_land_area_value,total_coastline_coverage,total_coastline_coverage_value,total_waterway_coverage_value,total_border_coverage,total_border_coverage_value
0,Afghanistan,1.344,260,0,25,30,0,187,0,0,1062,0,176,50,Afghanistan,0.000,Afghanistan,0.000,0.000,0.000,0.000,"12,00,00,00,000","2,84,00,00,000",43,0,5500,0,"1,43,25,743","3,49,40,837","6,52,230",Afghanistan,0,1200,Afghanistan,5987.000
1,Albania,2.314,19,0,0,0,0,19,0,0,467,0,0,0,Albania,38.000,Albania,0.000,0.000,0.000,0.000,"25,00,00,000","9,50,50,00,000",4,16000,42500,"16,83,00,000","15,19,438","30,57,220",28748,Albania,362,41,Albania,691.000
2,Algeria,0.466,551,103,22,59,87,257,45,880,7361,320,240,316,Algeria,201.000,Algeria,0.000,6.000,0.000,5.000,"13,00,00,00,000","6,26,00,00,000",157,"13,06,000","3,25,000","12,20,00,00,000","2,07,41,263","4,16,57,488","23,81,741",Algeria,998,0,Algeria,6734.000
3,Angola,0.838,295,72,18,30,47,126,15,379,595,28,357,115,Angola,57.000,Angola,0.000,0.000,0.000,0.000,"7,00,00,00,000","42,08,00,00,000",176,"16,66,000",82300,"8,27,30,00,000","62,44,205","3,03,55,880","12,46,700",Angola,1600,1300,Angola,5369.000
4,Argentina,0.652,227,24,7,9,64,100,0,370,739,83,172,26,Argentina,49.000,Argentina,0.000,2.000,4.000,0.000,"4,20,00,00,000","2,14,90,00,00,000",1138,"4,79,400","6,85,000","2,18,50,00,000","2,01,79,430","4,46,94,198","27,80,400",Argentina,4989,11000,Argentina,11968.000

In [127]:
df.shape

(138, 35)

## Implement basic steps to see how is your data looks like

## Convert multi index columns to one level

In [128]:
df.rename(columns={'military_strength': 'country'}, inplace=True)

In [129]:
df.head(3)

,country,military_strength_power_index,aircraft_strength_value,fighter/interceptor_strength_value,attack_aircraft_strength_value,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet_value,helicopter_fleet_strength_value,attack_helicopter_fleet_strength_value,tank_strength_value,afv/apc_strength_value,self-propelled_artillery_strength_value,towed_artillery_strength_value,rocket_projector_strength_value,navy_fleet_strengths,navy_fleet_strengths_value,aircraft_carrier_fleet_strength,aircraft_carrier_fleet_strength_value,submarine_fleet_strength_value,destroyer_fleet_strength_value,frigate_fleet_strength_value,defense_spending_budget_value,external_debt_value,airport_totals_value,oil_production_value,oil_consumption_value,proven_oil_reserves_value,available_manpower_value,total_population_value,total_square_land_area_value,total_coastline_coverage,total_coastline_coverage_value,total_waterway_coverage_value,total_border_coverage,total_border_coverage_value
0,Afghanistan,1.344,260,0,25,30,0,187,0,0,1062,0,176,50,Afghanistan,0.000,Afghanistan,0.000,0.000,0.000,0.000,"12,00,00,00,000","2,84,00,00,000",43,0,5500,0,"1,43,25,743","3,49,40,837","6,52,230",Afghanistan,0,1200,Afghanistan,5987.000
1,Albania,2.314,19,0,0,0,0,19,0,0,467,0,0,0,Albania,38.000,Albania,0.000,0.000,0.000,0.000,"25,00,00,000","9,50,50,00,000",4,16000,42500,"16,83,00,000","15,19,438","30,57,220",28748,Albania,362,41,Albania,691.000
2,Algeria,0.466,551,103,22,59,87,257,45,880,7361,320,240,316,Algeria,201.000,Algeria,0.000,6.000,0.000,5.000,"13,00,00,00,000","6,26,00,00,000",157,"13,06,000","3,25,000","12,20,00,00,000","2,07,41,263","4,16,57,488","23,81,741",Algeria,998,0,Algeria,6734.000

In [130]:
df = df.reset_index()

In [131]:
# df.head(3)

In [132]:
df = df.drop('index', axis=1)
df.head()

,country,military_strength_power_index,aircraft_strength_value,fighter/interceptor_strength_value,attack_aircraft_strength_value,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet_value,helicopter_fleet_strength_value,attack_helicopter_fleet_strength_value,tank_strength_value,afv/apc_strength_value,self-propelled_artillery_strength_value,towed_artillery_strength_value,rocket_projector_strength_value,navy_fleet_strengths,navy_fleet_strengths_value,aircraft_carrier_fleet_strength,aircraft_carrier_fleet_strength_value,submarine_fleet_strength_value,destroyer_fleet_strength_value,frigate_fleet_strength_value,defense_spending_budget_value,external_debt_value,airport_totals_value,oil_production_value,oil_consumption_value,proven_oil_reserves_value,available_manpower_value,total_population_value,total_square_land_area_value,total_coastline_coverage,total_coastline_coverage_value,total_waterway_coverage_value,total_border_coverage,total_border_coverage_value
0,Afghanistan,1.344,260,0,25,30,0,187,0,0,1062,0,176,50,Afghanistan,0.000,Afghanistan,0.000,0.000,0.000,0.000,"12,00,00,00,000","2,84,00,00,000",43,0,5500,0,"1,43,25,743","3,49,40,837","6,52,230",Afghanistan,0,1200,Afghanistan,5987.000
1,Albania,2.314,19,0,0,0,0,19,0,0,467,0,0,0,Albania,38.000,Albania,0.000,0.000,0.000,0.000,"25,00,00,000","9,50,50,00,000",4,16000,42500,"16,83,00,000","15,19,438","30,57,220",28748,Albania,362,41,Albania,691.000
2,Algeria,0.466,551,103,22,59,87,257,45,880,7361,320,240,316,Algeria,201.000,Algeria,0.000,6.000,0.000,5.000,"13,00,00,00,000","6,26,00,00,000",157,"13,06,000","3,25,000","12,20,00,00,000","2,07,41,263","4,16,57,488","23,81,741",Algeria,998,0,Algeria,6734.000
3,Angola,0.838,295,72,18,30,47,126,15,379,595,28,357,115,Angola,57.000,Angola,0.000,0.000,0.000,0.000,"7,00,00,00,000","42,08,00,00,000",176,"16,66,000",82300,"8,27,30,00,000","62,44,205","3,03,55,880","12,46,700",Angola,1600,1300,Angola,5369.000
4,Argentina,0.652,227,24,7,9,64,100,0,370,739,83,172,26,Argentina,49.000,Argentina,0.000,2.000,4.000,0.000,"4,20,00,00,000","2,14,90,00,00,000",1138,"4,79,400","6,85,000","2,18,50,00,000","2,01,79,430","4,46,94,198","27,80,400",Argentina,4989,11000,Argentina,11968.000

In [133]:
df.set_index('country', inplace=True)

In [134]:
df.head(3)

,military_strength_power_index,aircraft_strength_value,fighter/interceptor_strength_value,attack_aircraft_strength_value,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet_value,helicopter_fleet_strength_value,attack_helicopter_fleet_strength_value,tank_strength_value,afv/apc_strength_value,self-propelled_artillery_strength_value,towed_artillery_strength_value,rocket_projector_strength_value,navy_fleet_strengths,navy_fleet_strengths_value,aircraft_carrier_fleet_strength,aircraft_carrier_fleet_strength_value,submarine_fleet_strength_value,destroyer_fleet_strength_value,frigate_fleet_strength_value,defense_spending_budget_value,external_debt_value,airport_totals_value,oil_production_value,oil_consumption_value,proven_oil_reserves_value,available_manpower_value,total_population_value,total_square_land_area_value,total_coastline_coverage,total_coastline_coverage_value,total_waterway_coverage_value,total_border_coverage,total_border_coverage_value
country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1.344,260,0,25,30,0,187,0,0,1062,0,176,50,Afghanistan,0.000,Afghanistan,0.000,0.000,0.000,0.000,"12,00,00,00,000","2,84,00,00,000",43,0,5500,0,"1,43,25,743","3,49,40,837","6,52,230",Afghanistan,0,1200,Afghanistan,5987.000
Albania,2.314,19,0,0,0,0,19,0,0,467,0,0,0,Albania,38.000,Albania,0.000,0.000,0.000,0.000,"25,00,00,000","9,50,50,00,000",4,16000,42500,"16,83,00,000","15,19,438","30,57,220",28748,Albania,362,41,Albania,691.000
Algeria,0.466,551,103,22,59,87,257,45,880,7361,320,240,316,Algeria,201.000,Algeria,0.000,6.000,0.000,5.000,"13,00,00,00,000","6,26,00,00,000",157,"13,06,000","3,25,000","12,20,00,00,000","2,07,41,263","4,16,57,488","23,81,741",Algeria,998,0,Algeria,6734.000

In [135]:
df.shape

(138, 34)

## Detect and drop duplicated columns

In [136]:
df[['navy_fleet_strengths',
   'aircraft_carrier_fleet_strength',
   'total_coastline_coverage',
   'total_border_coverage']]

,navy_fleet_strengths,aircraft_carrier_fleet_strength,total_coastline_coverage,total_border_coverage
country,,,,
Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan
Albania,Albania,Albania,Albania,Albania
Algeria,Algeria,Algeria,Algeria,Algeria
Angola,Angola,Angola,Angola,Angola
Argentina,Argentina,Argentina,Argentina,Argentina
Armenia,Armenia,NaN,NaN,Armenia
Australia,Australia,Australia,Australia,NaN
Austria,Austria,NaN,NaN,Austria
Azerbaijan,Azerbaijan,Azerbaijan,Azerbaijan,Azerbaijan
Bahrain,Bahrain,Bahrain,Bahrain,NaN
Bangladesh,Bangladesh,Bangladesh,Bangladesh,Bangladesh
Belarus,Belarus,NaN,NaN,Belarus
Belgium,Belgium,Belgium,Belgium,Belgium
Bhutan,Bhutan,NaN,NaN,Bhutan
Bolivia,Bolivia,Bolivia,NaN,Bolivia
Bosnia and Herzegovina,Bosnia and Herzegovina,Bosnia and Herzegovina,Bosnia and Herzegovina,Bosnia and Herzegovina
Botswana,NaN,NaN,NaN,Botswana
Brazil,Brazil,Brazil,Brazil,Brazil
Bulgaria,Bulgaria,Bulgaria,Bulgaria,Bulgaria
Burkina Faso,NaN,NaN,NaN,Burkina Faso
Cambodia,Cambodia,Cambodia,Cambodia,Cambodia
Cameroon,Cameroon,Cameroon,Cameroon,Cameroon
Canada,Canada,Canada,Canada,Canada
Central African Republic,NaN,NaN,NaN,Central African Republic
Chad,NaN,NaN,NaN,Chad
Chile,Chile,Chile,Chile,Chile
China,China,China,China,China
Colombia,Colombia,Colombia,Colombia,Colombia
Croatia,Croatia,Croatia,Croatia,Croatia
Cuba,Cuba,Cuba,Cuba,Cuba
Czechia,NaN,NaN,NaN,Czechia
Democratic Republic of the Congo,Democratic Republic of the Congo,Democratic Republic of the Congo,Democratic Republic of the Congo,Democratic Republic of the Congo
Denmark,Denmark,Denmark,Denmark,Denmark
Dominican Republic,Dominican Republic,Dominican Republic,Dominican Republic,Dominican Republic
Ecuador,Ecuador,Ecuador,Ecuador,Ecuador
Egypt,Egypt,Egypt,Egypt,Egypt
El Salvador,El Salvador,El Salvador,El Salvador,El Salvador
Estonia,Estonia,Estonia,Estonia,Estonia
Ethiopia,NaN,NaN,NaN,Ethiopia
Finland,Finland,Finland,Finland,Finland
France,France,France,France,France
Gabon,Gabon,Gabon,Gabon,Gabon
Georgia,Georgia,Georgia,Georgia,Georgia
Germany,Germany,Germany,Germany,Germany
Ghana,Ghana,Ghana,Ghana,Ghana
Greece,Greece,Greece,Greece,Greece
Guatemala,Guatemala,Guatemala,Guatemala,Guatemala
Honduras,Honduras,Honduras,Honduras,Honduras
Hungary,NaN,NaN,NaN,Hungary
India,India,India,India,India
Indonesia,Indonesia,Indonesia,Indonesia,Indonesia
Iran,Iran,Iran,Iran,Iran
Iraq,Iraq,Iraq,Iraq,Iraq
Ireland,Ireland,Ireland,Ireland,Ireland
Israel,Israel,Israel,Israel,Israel
Italy,Italy,Italy,Italy,Italy
Ivory Coast,Ivory Coast,Ivory Coast,Ivory Coast,Ivory Coast
Japan,Japan,Japan,Japan,NaN
Jordan,Jordan,Jordan,Jordan,Jordan
Kazakhstan,Kazakhstan,Kazakhstan,Kazakhstan,Kazakhstan
Kenya,Kenya,Kenya,Kenya,Kenya
Kuwait,Kuwait,Kuwait,Kuwait,Kuwait
Kyrgyzstan,NaN,NaN,NaN,Kyrgyzstan
Laos,Laos,Laos,NaN,Laos
Latvia,Latvia,Latvia,Latvia,Latvia
Lebanon,Lebanon,Lebanon,Lebanon,Lebanon
Liberia,Liberia,Liberia,Liberia,Liberia
Libya,Libya,Libya,Libya,Libya
Lithuania,Lithuania,Lithuania,Lithuania,Lithuania
Madagascar,Madagascar,Madagascar,Madagascar,NaN
Malaysia,Malaysia,Malaysia,Malaysia,Malaysia
Mali,NaN,NaN,NaN,Mali
Mauritania,Mauritania,Mauritania,Mauritania,Mauritania
Mexico,Mexico,Mexico,Mexico,Mexico
Moldova,NaN,NaN,NaN,Moldova
Mongolia,NaN,NaN,NaN,Mongolia
Montenegro,Montenegro,Montenegro,Montenegro,Montenegro
Morocco,Morocco,Morocco,Morocco,Morocco
Mozambique,Mozambique,Mozambique,Mozambique,Mozambique
Myanmar,Myanmar,Myanmar,Myanmar,Myanmar
Namibia,Namibia,Namibia,Namibia,Namibia
Nepal,NaN,NaN,NaN,Nepal
Netherlands,Netherlands,Netherlands,Netherlands,Netherlands
New Zealand,New Zealand,New Zealand,New Zealand,NaN
Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua
Niger,NaN,NaN,NaN,Niger
Nigeria,Nigeria,Nigeria,Nigeria,Nigeria
North Korea,North Korea,North Korea,North Korea,North Korea
North Macedonia,NaN,NaN,NaN,North Macedonia
Norway,Norway,Norway,Norway,Norway
Oman,Oman,Oman,Oman,Oman
Pakistan,Pakistan,Pakistan,Pakistan,Pakistan
Panama,Panama,Panama,Panama,Panama
Paraguay,Paraguay,Paraguay,NaN,Paraguay
Peru,Peru,Peru,Peru,Peru
Philippines,Philippines,Philippines,Philippines,NaN
Poland,Poland,Poland,Poland,Poland
Portugal,Portugal,Portugal,Portugal,Portugal
Qatar,Qatar,Qatar,Qatar,Qatar
Republic of the Congo,Republic of the Congo,Republic of the Congo,Republic of the Congo,Republic of the Congo
Romania,Romania,Romania,Romania,Romania
Russia,Russia,Russia,Russia,Russia
Saudi Arabia,Saudi Arabia,Saudi Arabia,Saudi Arabia,Saudi Arabia
Serbia,Serbia,Serbia,NaN,Serbia
Sierra Leone,Sierra Leone,Sierra Leone,Sierra Leone,Sierra Leone
Singapore,Singapore,Singapore,Singapore,NaN
Slovakia,Slovakia,NaN,NaN,Slovakia
Slovenia,Slovenia,Slovenia,Slovenia,Slovenia
Somalia,Somalia,Somalia,Somalia,Somalia
South Africa,South Africa,South Africa,South Africa,South Africa
South Korea,South Korea,NaN,South Korea,South Korea
South Sudan,South Sudan,South Korea,NaN,South Sudan
Spain,Spain,Spain,Spain,Spain
Sri Lanka,Sri Lanka,Sri Lanka,Sri Lanka,NaN
Sudan,Sudan,Sudan,Sudan,Sudan
Suriname,Suriname,Suriname,Suriname,Suriname
Sweden,Sweden,Sweden,Sweden,Sweden
Switzerland,Switzerland,NaN,NaN,Switzerland
Syria,Syria,Syria,Syria,Syria
Taiwan,Taiwan,Taiwan,Taiwan,NaN
Tajikistan,Tajikistan,NaN,NaN,Tajikistan
Tanzania,Tanzania,Tanzania,Tanzania,Tanzania
Thailand,Thailand,Thailand,Thailand,Thailand
Tunisia,Tunisia,Tunisia,Tunisia,Tunisia
Turkey,Turkey,Turkey,Turkey,Turkey
Turkmenistan,Turkmenistan,Turkmenistan,Turkmenistan,Turkmenistan
Uganda,Uganda,Uganda,NaN,Uganda
Ukraine,Ukraine,Ukraine,Ukraine,Ukraine
United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates,United Arab Emirates
United Kingdom,United Kingdom,United Kingdom,United Kingdom,United Kingdom
United States,United States,United States,United States,United States
Uruguay,Uruguay,Uruguay,Uruguay,Uruguay
Uzbekistan,Uzbekistan,NaN,Uzbekistan,Uzbekistan
Venezuela,Venezuela,Venezuela,Venezuela,Venezuela
Vietnam,Vietnam,Vietnam,Vietnam,Vietnam
Yemen,Yemen,Yemen,Yemen,Yemen
Zambia,Zambia,Zambia,NaN,Zambia
Zimbabwe,Zimbabwe,Zimbabwe,NaN,Zimbabwe

In [137]:
drop_columns = ['navy_fleet_strengths',
               'aircraft_carrier_fleet_strength',
               'total_coastline_coverage',
               'total_border_coverage']

In [138]:
df.drop(drop_columns, axis = 1, inplace = True)

In [139]:
df.head(3)

,military_strength_power_index,aircraft_strength_value,fighter/interceptor_strength_value,attack_aircraft_strength_value,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet_value,helicopter_fleet_strength_value,attack_helicopter_fleet_strength_value,tank_strength_value,afv/apc_strength_value,self-propelled_artillery_strength_value,towed_artillery_strength_value,rocket_projector_strength_value,navy_fleet_strengths_value,aircraft_carrier_fleet_strength_value,submarine_fleet_strength_value,destroyer_fleet_strength_value,frigate_fleet_strength_value,defense_spending_budget_value,external_debt_value,airport_totals_value,oil_production_value,oil_consumption_value,proven_oil_reserves_value,available_manpower_value,total_population_value,total_square_land_area_value,total_coastline_coverage_value,total_waterway_coverage_value,total_border_coverage_value
country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1.344,260,0,25,30,0,187,0,0,1062,0,176,50,0.000,0.000,0.000,0.000,0.000,"12,00,00,00,000","2,84,00,00,000",43,0,5500,0,"1,43,25,743","3,49,40,837","6,52,230",0,1200,5987.000
Albania,2.314,19,0,0,0,0,19,0,0,467,0,0,0,38.000,0.000,0.000,0.000,0.000,"25,00,00,000","9,50,50,00,000",4,16000,42500,"16,83,00,000","15,19,438","30,57,220",28748,362,41,691.000
Algeria,0.466,551,103,22,59,87,257,45,880,7361,320,240,316,201.000,0.000,6.000,0.000,5.000,"13,00,00,00,000","6,26,00,00,000",157,"13,06,000","3,25,000","12,20,00,00,000","2,07,41,263","4,16,57,488","23,81,741",998,0,6734.000

In [140]:
df.shape

(138, 30)

## Deal with missing values 
* Hint-1, use wikipedia to fill in missing values comparing with similar countries
* Hint-2, Georeferences of countries can help you

In [141]:
missing_values(df)

                                       Missing_Number  Missing_Percent
total_coastline_coverage_value                     29            0.210
submarine_fleet_strength_value                     23            0.167
frigate_fleet_strength_value                       23            0.167
destroyer_fleet_strength_value                     23            0.167
aircraft_carrier_fleet_strength_value              23            0.167
navy_fleet_strengths_value                         14            0.101
total_border_coverage_value                         9            0.065

In [149]:
df[missing_values(df).index].describe().T

                                        count  unique      top    freq
total_coastline_coverage_value        109.000 104.000  193.000   2.000
submarine_fleet_strength_value        115.000  20.000    0.000  74.000
frigate_fleet_strength_value          115.000  18.000    0.000  61.000
destroyer_fleet_strength_value        115.000  11.000    0.000 103.000
aircraft_carrier_fleet_strength_value 115.000   5.000    0.000 102.000
navy_fleet_strengths_value            124.000  78.000    0.000  14.000
total_border_coverage_value           129.000 125.000 2363.000   2.000

In [157]:
df[missing_values(df).index].info()

<class 'pandas.core.frame.DataFrame'>
Index: 138 entries, Afghanistan to Zimbabwe
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   total_coastline_coverage_value         109 non-null    object
 1   submarine_fleet_strength_value         115 non-null    object
 2   frigate_fleet_strength_value           115 non-null    object
 3   destroyer_fleet_strength_value         115 non-null    object
 4   aircraft_carrier_fleet_strength_value  115 non-null    object
 5   navy_fleet_strengths_value             124 non-null    object
 6   total_border_coverage_value            129 non-null    object
dtypes: object(7)
memory usage: 8.6+ KB

In [162]:
df[missing_values(df).index]["total_coastline_coverage_value"].str.contain

country
Afghanistan                                0
Albania                                  362
Algeria                                  998
Angola                                  1600
Argentina                               4989
Armenia                                  NaN
Australia                              25760
Austria                                  NaN
Azerbaijan                               713
Bahrain                                  161
Bangladesh                               580
Belarus                                  NaN
Belgium                                   67
Bhutan                                   NaN
Bolivia                                  NaN
Bosnia and Herzegovina                    20
Botswana                                 NaN
Brazil                                  7491
Bulgaria                                 354
Burkina Faso                             NaN
Cambodia                                 443
Cameroon                                 400
Canada                              2,02,080
Central African Republic                 NaN
Chad                                     NaN
Chile                                   6435
China                                  14500
Colombia                                3208
Croatia                                 5835
Cuba                                    3735
Czechia                                  NaN
Democratic Republic of the Congo          37
Denmark                                 7314
Dominican Republic                      1288
Ecuador                                 2237
Egypt                                   2450
El Salvador                              307
Estonia                                 3794
Ethiopia                                 NaN
Finland                                 1250
France                                  4853
Gabon                                    885
Georgia                                  310
Germany                                 2389
Ghana                                    539
Greece                                 13676
Guatemala                                400
Honduras                                 832
Hungary                                  NaN
India                                   7000
Indonesia                              54716
Iran                                    2440
Iraq                                      58
Ireland                                 1448
Israel                                   273
Italy                                   7600
Ivory Coast                              515
Japan                                  29751
Jordan                                    26
Kazakhstan                                26
Kenya                                    536
Kuwait                                   499
Kyrgyzstan                               NaN
Laos                                     NaN
Latvia                                   498
Lebanon                                  225
Liberia                                  579
Libya                                   1770
Lithuania                                 90
Madagascar                              4828
Malaysia                                4675
Mali                                     NaN
Mauritania                               754
Mexico                                  9330
Moldova                                  NaN
Mongolia                                 NaN
Montenegro                               294
Morocco                                 1835
Mozambique                              2470
Myanmar                                 1930
Namibia                                 1572
Nepal                                    NaN
Netherlands                              451
New Zealand                            15134
Nicaragua                                910
Niger                                    NaN
Nigeria                                  853
North Korea                             2495
North Macedonia                          NaN
Norway                                 25148
Oman                                    2092
Pakistan                                1046
Panama                                  2490
Paraguay                                 NaN
Peru                                    2414
Philippines                            36289
Poland                                   440
Portugal                                1793
Qatar                                    563
Republic of the Congo                    169
Romania                                  225
Russia                                 37653
Saudi Arabia                            2640
Serbia                                   NaN
Sierra Leone                             402
Singapore                                193
Slovakia                                 NaN
Slovenia                                  47
Somalia                                 3025
South Africa                            2798
South Korea                             2413
South Sudan                              NaN
Spain                                   4964
Sri Lanka                               1340
Sudan                                    853
Suriname                                 386
Sweden                                  3218
Switzerland                              NaN
Syria                                    193
Taiwan                                  1566
Tajikistan                               NaN
Tanzania                                1424
Thailand                                3219
Tunisia                                 1148
Turkey                                  7200
Turkmenistan                            1768
Uganda                                   NaN
Ukraine                                 2782
United Arab Emirates                    1318
United Kingdom                         12429
United States                          19924
Uruguay                                  660
Uzbekistan                               420
Venezuela                               2800
Vietnam                                 3444
Yemen                                   1906
Zambia                                   NaN
Zimbabwe                                 NaN
Name: total_coastline_coverage_value, dtype: object

In [276]:
# submarine_fleet_strength_value : South Korea --> 22
# frigate_fleet_strength_value : South Korea --> 4
# destroyer_fleet_strength_value : South Korea --> 12

In [277]:
df.loc[(df['country']=="South Kores") & (df['submarine_fleet_strength_value'].isnull()), 'submarine_fleet_strength_value'] = 22

In [278]:
df.loc[(df['country']=="South Kores") & (df['frigate_fleet_strength_value'].isnull()), 'frigate_fleet_strength_value'] = 4

In [279]:
df.loc[(df['country']=="South Kores") & (df['destroyer_fleet_strength_value'].isnull()), 'destroyer_fleet_strength_value'] = 12

In [280]:
df.fillna(0, inplace=True)

In [281]:
missing (df)

                                         Missing_Number  Missing_Percent
country                                               0            0.000
submarine_fleet_strength_value                        0            0.000
total_waterway_coverage_value                         0            0.000
total_coastline_coverage_value                        0            0.000
total_square_land_area_value                          0            0.000
total_population_value                                0            0.000
available_manpower_value                              0            0.000
proven_oil_reserves_value                             0            0.000
oil_consumption_value                                 0            0.000
oil_production_value                                  0            0.000
airport_totals_value                                  0            0.000
external_debt_value                                   0            0.000
defense_spending_budget_value                         0            0.000
frigate_fleet_strength_value                          0            0.000
destroyer_fleet_strength_value                        0            0.000
aircraft_carrier_fleet_strength_value                 0            0.000
military_strength_power_index                         0            0.000
navy_fleet_strengths_value                            0            0.000
rocket_projector_strength_value                       0            0.000
towed_artillery_strength_value                        0            0.000
self-propelled_artillery_strength_value               0            0.000
afv/apc_strength_value                                0            0.000
tank_strength_value                                   0            0.000
attack_helicopter_fleet_strength_value                0            0.000
helicopter_fleet_strength_value                       0            0.000
trainer_aircraft_fleet_value                          0            0.000
transport_aircraft_fleet_strength_value               0            0.000
attack_aircraft_strength_value                        0            0.000
fighter/interceptor_strength_value                    0            0.000
aircraft_strength_value                               0            0.000
total_border_coverage_value                           0            0.000

In [282]:
df = df.reset_index()
del df['index']

In [283]:
df.head(1)

,country,military_strength_power_index,aircraft_strength_value,fighter/interceptor_strength_value,attack_aircraft_strength_value,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet_value,helicopter_fleet_strength_value,attack_helicopter_fleet_strength_value,tank_strength_value,afv/apc_strength_value,self-propelled_artillery_strength_value,towed_artillery_strength_value,rocket_projector_strength_value,navy_fleet_strengths_value,aircraft_carrier_fleet_strength_value,submarine_fleet_strength_value,destroyer_fleet_strength_value,frigate_fleet_strength_value,defense_spending_budget_value,external_debt_value,airport_totals_value,oil_production_value,oil_consumption_value,proven_oil_reserves_value,available_manpower_value,total_population_value,total_square_land_area_value,total_coastline_coverage_value,total_waterway_coverage_value,total_border_coverage_value
0,Afghanistan,1.344,260,0,25,30,0,187,0,0,1062,0,176,50,0.000,0.000,0.000,0.000,0.000,"12,00,00,00,000","2,84,00,00,000",43,0,5500,0,"1,43,25,743","3,49,40,837","6,52,230",0,1200,5987.000

In [284]:
df.set_index('country', inplace=True)

In [285]:
df.head(1)

,military_strength_power_index,aircraft_strength_value,fighter/interceptor_strength_value,attack_aircraft_strength_value,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet_value,helicopter_fleet_strength_value,attack_helicopter_fleet_strength_value,tank_strength_value,afv/apc_strength_value,self-propelled_artillery_strength_value,towed_artillery_strength_value,rocket_projector_strength_value,navy_fleet_strengths_value,aircraft_carrier_fleet_strength_value,submarine_fleet_strength_value,destroyer_fleet_strength_value,frigate_fleet_strength_value,defense_spending_budget_value,external_debt_value,airport_totals_value,oil_production_value,oil_consumption_value,proven_oil_reserves_value,available_manpower_value,total_population_value,total_square_land_area_value,total_coastline_coverage_value,total_waterway_coverage_value,total_border_coverage_value
country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1.344,260,0,25,30,0,187,0,0,1062,0,176,50,0.000,0.000,0.000,0.000,0.000,"12,00,00,00,000","2,84,00,00,000",43,0,5500,0,"1,43,25,743","3,49,40,837","6,52,230",0,1200,5987.000

In [286]:
df.shape

(138, 30)

## Fix the dtypes

In [287]:
df.dtypes

military_strength_power_index              float64
aircraft_strength_value                      int64
fighter/interceptor_strength_value           int64
attack_aircraft_strength_value               int64
transport_aircraft_fleet_strength_value      int64
trainer_aircraft_fleet_value                 int64
helicopter_fleet_strength_value              int64
attack_helicopter_fleet_strength_value       int64
tank_strength_value                          int64
afv/apc_strength_value                       int64
self-propelled_artillery_strength_value      int64
towed_artillery_strength_value               int64
rocket_projector_strength_value              int64
navy_fleet_strengths_value                 float64
aircraft_carrier_fleet_strength_value      float64
submarine_fleet_strength_value             float64
destroyer_fleet_strength_value             float64
frigate_fleet_strength_value               float64
defense_spending_budget_value               object
external_debt_value                         object
airport_totals_value                         int64
oil_production_value                        object
oil_consumption_value                       object
proven_oil_reserves_value                   object
available_manpower_value                    object
total_population_value                      object
total_square_land_area_value                object
total_coastline_coverage_value              object
total_waterway_coverage_value               object
total_border_coverage_value                float64
dtype: object

In [288]:
df.head(1)

,military_strength_power_index,aircraft_strength_value,fighter/interceptor_strength_value,attack_aircraft_strength_value,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet_value,helicopter_fleet_strength_value,attack_helicopter_fleet_strength_value,tank_strength_value,afv/apc_strength_value,self-propelled_artillery_strength_value,towed_artillery_strength_value,rocket_projector_strength_value,navy_fleet_strengths_value,aircraft_carrier_fleet_strength_value,submarine_fleet_strength_value,destroyer_fleet_strength_value,frigate_fleet_strength_value,defense_spending_budget_value,external_debt_value,airport_totals_value,oil_production_value,oil_consumption_value,proven_oil_reserves_value,available_manpower_value,total_population_value,total_square_land_area_value,total_coastline_coverage_value,total_waterway_coverage_value,total_border_coverage_value
country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1.344,260,0,25,30,0,187,0,0,1062,0,176,50,0.000,0.000,0.000,0.000,0.000,"12,00,00,00,000","2,84,00,00,000",43,0,5500,0,"1,43,25,743","3,49,40,837","6,52,230",0,1200,5987.000

In [290]:
for col in df.columns:
    if df.dtypes[col] == np.object:
        df[col] = df[col].apply(lambda x : x.replace(",", "") if type(x) != int else x).astype("float")

In [289]:
#df["oil_production_value"]  # BEFORE

country
Afghanistan            0
Albania            16000
Algeria        13,06,000
Angola         16,66,000
Argentina       4,79,400
                 ...
Venezuela      20,07,000
Vietnam         2,71,400
Yemen              12260
Zambia                 0
Zimbabwe               0
Name: oil_production_value, Length: 138, dtype: object

In [291]:
#df1["oil_production_value"]  # AFTER

country
Afghanistan         0.000
Albania         16000.000
Algeria       1306000.000
Angola        1666000.000
Argentina      479400.000
                  ...
Venezuela     2007000.000
Vietnam        271400.000
Yemen           12260.000
Zambia              0.000
Zimbabwe            0.000
Name: oil_production_value, Length: 138, dtype: float64

In [292]:
missing(df)

                                         Missing_Number  Missing_Percent
military_strength_power_index                         0            0.000
aircraft_strength_value                               0            0.000
total_waterway_coverage_value                         0            0.000
total_coastline_coverage_value                        0            0.000
total_square_land_area_value                          0            0.000
total_population_value                                0            0.000
available_manpower_value                              0            0.000
proven_oil_reserves_value                             0            0.000
oil_consumption_value                                 0            0.000
oil_production_value                                  0            0.000
airport_totals_value                                  0            0.000
external_debt_value                                   0            0.000
defense_spending_budget_value                         0            0.000
frigate_fleet_strength_value                          0            0.000
destroyer_fleet_strength_value                        0            0.000
submarine_fleet_strength_value                        0            0.000
aircraft_carrier_fleet_strength_value                 0            0.000
navy_fleet_strengths_value                            0            0.000
rocket_projector_strength_value                       0            0.000
towed_artillery_strength_value                        0            0.000
self-propelled_artillery_strength_value               0            0.000
afv/apc_strength_value                                0            0.000
tank_strength_value                                   0            0.000
attack_helicopter_fleet_strength_value                0            0.000
helicopter_fleet_strength_value                       0            0.000
trainer_aircraft_fleet_value                          0            0.000
transport_aircraft_fleet_strength_value               0            0.000
attack_aircraft_strength_value                        0            0.000
fighter/interceptor_strength_value                    0            0.000
total_border_coverage_value                           0            0.000

## Drop the features that not affect military power
* Hint-1,  Georeferences not proper features

In [293]:
df.head(1)

,military_strength_power_index,aircraft_strength_value,fighter/interceptor_strength_value,attack_aircraft_strength_value,transport_aircraft_fleet_strength_value,trainer_aircraft_fleet_value,helicopter_fleet_strength_value,attack_helicopter_fleet_strength_value,tank_strength_value,afv/apc_strength_value,self-propelled_artillery_strength_value,towed_artillery_strength_value,rocket_projector_strength_value,navy_fleet_strengths_value,aircraft_carrier_fleet_strength_value,submarine_fleet_strength_value,destroyer_fleet_strength_value,frigate_fleet_strength_value,defense_spending_budget_value,external_debt_value,airport_totals_value,oil_production_value,oil_consumption_value,proven_oil_reserves_value,available_manpower_value,total_population_value,total_square_land_area_value,total_coastline_coverage_value,total_waterway_coverage_value,total_border_coverage_value
country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1.344,260,0,25,30,0,187,0,0,1062,0,176,50,0.000,0.000,0.000,0.000,0.000,12000000000.000,2840000000.000,43,0.000,5500.000,0.000,14325743.000,34940837.000,652230.000,0.000,1200.000,5987.000

In [294]:
df.shape

(138, 30)

In [295]:
for col in df.select_dtypes(include=[np.number]).columns:
    if df[col].min() == 0:
        print(col)

aircraft_strength_value
fighter/interceptor_strength_value
attack_aircraft_strength_value
transport_aircraft_fleet_strength_value
trainer_aircraft_fleet_value
helicopter_fleet_strength_value
attack_helicopter_fleet_strength_value
tank_strength_value
afv/apc_strength_value
self-propelled_artillery_strength_value
towed_artillery_strength_value
rocket_projector_strength_value
navy_fleet_strengths_value
aircraft_carrier_fleet_strength_value
submarine_fleet_strength_value
destroyer_fleet_strength_value
frigate_fleet_strength_value
oil_production_value
proven_oil_reserves_value
total_coastline_coverage_value
total_waterway_coverage_value
total_border_coverage_value

In [45]:
# df.drop(df.columns[[1, 61]], axis=1, inplace=True)

## Visualy inspect the some features

## Descriptive statistics

# Data Preprocessing

# Modelling

## Hopkins Test 
#### Assess the clusterability of a dataset. A score between 0 and 1, a score around 0.5 express no clusterability, a score tending to 1 express an uniform distrubution so clustering can't be useful and  0 express  not an uniform distrubution hence clusterering can be useful.

## Clustering with K-means

### Elbow Method 
### We use this method to find optimal k value by looking up to break point of graph.

### Model Building and label visualisation

### Evaluate

## Hierarchical Clustering

### Dendogram

### Model Building and label visualisation

### Evaluate